[2016-04-06 21:29] rileytomasek opened #1 "test"
sorry if you got spammed by this...

[2016-04-06 23:20] #1 closed, assigned to nobody

[2016-04-06 23:21] rileytomasek opened #3 "Add node tests"
Add tests for the sdk that run in a node environment. We need to test both node and browser envs separately because superagent uses different low level request functions for each environment.

[2016-04-06 23:22] rileytomasek opened #4 "Run browser and node tests from command line"
Add the ability for both node and browser specific tests to be run from the command line. This will involve setting up phantom to run the browser tests, but not the node tests.

[2016-04-06 23:23] RileyTomasek opened #5 "Setup travis to automatically run tests and lint"

[2016-04-06 23:25] rileytomasek opened #6 "Allow users to use their own request library"
There are several features in Dropbox's ajax library that will be very helpful for internal use of the sdk, so it would be nice if there was a way to specify a request library that the sdk should use instead of its default.

[2016-04-07 15:33] rileytomasek opened #7 "Write tests for rpcRequest"
Testing `rpcRequest()` will make it much easier for people to create new copies to allow usage of other ajax libraries, like dropbox.ajax.

[2016-04-08 22:29] RileyTomasek opened #8 "Add sourcemaps"

[2016-04-08 22:30] rileytomasek opened #9 "Add endpoint namespaces"
Instead of `dbx.listFiles()` it should be `dbx.files.listFiles()`.

[2016-04-12 23:46] #3 closed, assigned to rileytomasek

[2016-04-12 23:46] #4 closed, assigned to rileytomasek

[2016-04-12 23:49] RileyTomasek opened #10 "Create content download request method"

[2016-04-12 23:49] RileyTomasek opened #11 "Create content upload request method"

[2016-04-12 23:50] rileytomasek opened #12 "Generate docs from JSDocs in code"
We will need to use the JSDocs from the generated code to generate docs for the sdk users.

[2016-04-12 23:52] rileytomasek opened #13 "Generate endpoint methods"
We will need to write generator code for all of the endpoint specific for files, sharing, user and team.

[code]

[2016-04-12 23:54] rileytomasek opened #14 "Add complex examples"
We will want to include more complex examples, as well as examples that show how to obtain an access token.

[2016-04-12 23:55] rileytomasek opened #15 "Global error handling for auth problems"
We want to have a global handling method for auth errors cause by missing/invalid cookie or access token.

[2016-04-12 23:56] rileytomasek opened #16 "Helper methods for getting auth"
Provide helper methods to make it easier for users to obtain an access token. This could be:
- a method that generates the link for auth redirect
- a full redirect example for the client side

[2016-04-12 23:56] rileytomasek opened #17 "Deploy minified library code to CDN"

[2016-04-12 23:57] RileyTomasek opened #18 "Create script to publish new versions to npm"

[2016-04-12 23:58] RileyTomasek opened #19 "Parse API return values"
It may be useful to provide some kind of opt in parsing of the API return values for things like enums and unions.

[2016-04-18 16:22] #9 closed, assigned to rileytomasek

[2016-04-18 17:27] rileytomasek opened #20 "Remove access token"
We cannot have an access token in the examples.

[2016-04-25 16:19] #20 closed, assigned to rileytomasek

[2016-04-27 20:46] #6 closed, assigned to rileytomasek

[2016-04-27 20:51] rileytomasek opened #21 "Improve readme"
The readme will need to have:
- overview
- usage
- link to endpoint docs
- development/contributing

[2016-04-27 20:53] rileytomasek opened #22 "Add endpoint methods tests"
Add a test for each endpoint method assuring the path and body are properly passed to rpcRequest

[2016-04-27 21:04] rileytomasek opened #23 "Correctly set BASE_URL"
The `BASE_URL` being used in `rpcRequest()` is not set dynamically. It should change based on development/production and for access token/cookie auth.

[2016-04-27 21:38] #23 closed, assigned to rileytomasek

[2016-05-06 20:18] #13 closed, assigned to nobody

[2016-05-11 20:54] #17 closed, assigned to nobody

[2016-05-11 21:22] #21 closed, assigned to rileytomasek

[2016-05-27 13:57] rileytomasek opened #30 "Add a note on versioning"
explaining what is a major and minor release

[2016-05-31 21:32] #30 closed, assigned to nobody

[2016-05-31 21:32] #16 closed, assigned to nobody

[2016-05-31 21:33] rileytomasek opened #32 "Add license and update in package.json"

[2016-06-01 20:18] rileytomasek opened #33 "Naming changes"
Refer to class as Dropbox and call it the dropbox sdk. also DropboxTeam for teams.

[2016-06-01 20:54] #22 closed, assigned to rileytomasek

[2016-06-01 20:55] #33 closed, assigned to nobody

[2016-06-01 21:07] #32 closed, assigned to nobody

[2016-06-01 21:22] rileytomasek opened #34 "Support team auth and routes"

[2016-06-08 18:09] #12 closed, assigned to rileytomasek

[2016-06-08 18:09] rileytomasek opened #37 "Improve html examples"
add some text to the page to explain what the example is showing

[2016-06-09 14:31] #34 closed, assigned to nobody

[2016-06-09 20:51] #37 closed, assigned to nobody

[2016-06-09 21:26] krieb opened #38 "Longpoll and Socket timeouts"
How are socket timeouts configured for the client?

In the Java SDK, we had issues where the default socket read timeout being used (20 sec) was too short for some longpoll calls.

[2016-06-09 21:36] krieb opened #39 "Consider exposing superagent config"
I'm not Javascript guy ( @braincore ), but I know in the Java SDK we found it useful to extend or modify the HTTP client (e.g. to add extra headers, do logging, change timeouts, etc). You may want to consider allowing that type of functionality in this SDK. I'm not sure what the use cases are, so feel free to close this issue if you think it isn't necessary.

[2016-06-09 21:51] krieb opened #40 "CDN link broken on documentation site"
[Documentation site](http://dropbox.github.io/dropbox-sdk-js/) shows an example with the following CDN link:

    https://npmcdn.com/dropbox/umd/Dropbox-sdk.min.js

The link, however, returns a 404.

[2016-06-09 22:13] krieb opened #41 "Void argument routes should not require `null`"
When calling an endpoint that does not accept any parameters (e.g. `usersGetCurrentAccount()`), `null` must be passed as an argument. This is somewhat confusing and the error message returned when you forget to pass `null` doesn't help either:

[code]

We should default to sending `null` when no argument is supplied.

[2016-06-09 22:27] krieb opened #42 "dbx.filesListFolderLongpoll fails because of missing CORS header"
`dbx.filesListFolderLongpoll(...)` fails for me when I call it from a browser:
[code]
This is likely because the notify server is not sending back the proper headers.

[2016-06-10 14:29] #39 closed, assigned to nobody

[2016-06-10 19:03] #7 closed, assigned to rileytomasek

[2016-06-10 19:23] #40 closed

[2016-06-10 20:09] greg-db opened #44 "Typo: "The client id fo ryour app." on"
https://dropbox.github.io/dropbox-sdk-js/Dropbox.html has:

It should be, with some further clarification:

[2016-06-10 20:09] greg-db opened #45 "Nit: "OAuth2" should be "OAuth 2""
In the documentation, there's a line:

Per http://oauth.net/, it should be formatted with a space.

[2016-06-10 20:09] greg-db opened #46 "Nit: "url" should be "URL""
https://dropbox.github.io/dropbox-sdk-js/Dropbox.html has:

That should be:

[2016-06-10 20:40] greg-db opened #47 "Basic example should more clearly explain how to get token"
The [basic example](https://github.com/dropbox/dropbox-sdk-js/blob/master/examples/basic/index.html) sends the user to the Dropbox API Explorer to get a token. It doesn't contain explicit instructions though, and may confuse the user as to what the Dropbox API Explorer is and why they're there. (Or better yet, just implement the auth flow.)

[2016-06-10 20:42] greg-db opened #48 "Automatic access token storage"
It would be nice if the library automatically, or maybe optionally, would store the resulting access token, e.g., in local storage.

[2016-06-10 20:44] greg-db opened #49 "Replace alerts in examples with fields"
The use of alerts in the examples can be a bit annoying. It would be nicer to have them as inputs on the page, a la the [Dropbox API Explorer](https://dropbox.github.io/dropbox-api-v2-explorer/), on https://github.com/dropbox/dropbox-sdk-js/blob/master/examples/team-as-user/index.html and elsewhere.

[2016-06-10 20:44] greg-db commented on #14
+1, more examples are very important for developers getting started with a new library.

[2016-06-10 20:48] greg-db opened #50 "Documentation of all objects"
The [documentation](https://dropbox.github.io/dropbox-sdk-js/Dropbox.html) just covers methods. It would be useful to have the full documentation of all objects (e.g., `FileMetadata`, etc.) covered as well, like the other SDKs have. (E.g., [`FileMetadata`](https://dropbox.github.io/dropbox-sdk-java/api-docs/v2.0.x/com/dropbox/core/v2/files/FileMetadata.html) in the Java SDK.)

[2016-06-13 15:17] #44 closed

[2016-06-13 15:17] #45 closed

[2016-06-13 15:17] #46 closed

[2016-06-13 15:22] RileyTomasek commented on #49
The purpose of these examples is more for people to read the code and see the simplest possible implementation that they could potentially copy paste as a starting point, not to be polished examples.

I guess I could setup a very basic input without making the example much more complicated though.

[2016-06-13 15:23] RileyTomasek commented on #48
As per my comment in #49, I don't think this is worth the complexity here. especially since you can assume most people won't be using these more than a few times.

[2016-06-13 15:23] #48 closed

[2016-06-13 15:56] greg-db commented on #48
@RileyTomasek I'm not sure what you mean by "you can assume most people won't be using these more than a few times." Why wouldn't users of apps be using the app more than a few times? ([dropbox.js](https://github.com/dropbox/dropbox-js)  does this sort of storage automatically, and I always felt it was pretty convenient.)

[2016-06-13 18:11] RileyTomasek commented on #48
oh, sorry, i thought you meant implement it in the example code. regardless, this is something that doesn't belong in the main library and should be left to the developer since there are so many different ways to do this that will work differently for each app. Maybe if we get people asking about it, we can make an example specifically to show how you would do it.

[2016-06-21 19:56] #5 closed

[2016-07-08 04:35] #8 closed

[2016-07-08 04:39] #18 closed

[2016-07-08 08:26] Nickman87 commented on #11
@RileyTomasek Do you need/want help implementing these endpoints? If so, where should I start looking?

[2016-07-08 14:42] RileyTomasek commented on #11
@Nickman87 i have actually been working on that in #53. We just need to generate the new endpoint methods and it should be good to go. Feel free to add comments if you have any on that PR. thanks!

[2016-07-09 23:52] mblackstock opened #55 "longpoll uses api.dropboxapi.com host; should use notify.dropboxapi.com"
https://www.dropbox.com/developers/documentation/http/documentation#files-list_folder-longpoll

Currently I am getting 404 errors since the API is using the api host.
Looks like host parameter (api or notify) for request() in routes.js is not used.

[2016-07-26 22:27] DrTall opened #57 "Example app at user limit"
Attempting to run the auth example shows: https://www.dropbox.com/s/faarnfl83mlu051/Screenshot%202016-07-26%2015.27.31.png?dl=0

Presumably Dropbox's example app should allow new users.

[2016-07-26 23:12] RileyTomasek commented on #57
@braincore can you fix this?

[2016-07-27 00:52] braincore commented on #57
Switched the example app back to yours.

[2016-07-27 00:52] #57 closed

[2016-08-01 10:35] sandip8600 opened #59 "dbx.filesUpload (from node example) function is undefined"

[2016-08-01 10:58] daafgo commented on #59
I have the same Issue the error code is:
Object doesn't support property or method 'filesUpload'

[2016-08-01 15:23] RileyTomasek commented on #59
Can you guys give me the steps required to reproduce this? It's working for me and `Dropbox#filesUpload` is defined in routes.js.

[2016-08-01 18:50] fguarini commented on #59
Same error -> 'dbx.filesUpload is not a function'.
@RileyTomasek checked the routes.js and its indeed defined there, so I don't know what is causing the error.

[2016-08-01 19:31] RileyTomasek commented on #59
thanks @fguarini, that is definitely what is going on. i was going to wait and close #52 before releasing 2.1.0 to npm, but maybe i should release 2.1.0 with just upload now...

[2016-08-02 15:43] fguarini commented on #59
@RileyTomasek Just so you know. I locally linked the package with the current repository content (02-August-2016) and used your node example for uploading a file and it worked flawlessly. Awesome package, thanks a lot for sharing your work!

[2016-08-02 19:38] RileyTomasek commented on #59
@fguarini thanks!

@sandip8600 @daafgo: I just published v2.1.0 to npm that includes the code for upload and download methods, which will fix this bug. Please leave a comment here if you are still having issues.

[2016-08-02 19:38] #59 closed

[2016-08-02 20:08] #11 closed

[2016-08-02 20:08] #10 closed

[2016-08-04 20:57] RileyTomasek commented on #50
@greg-db how would you feel about us generating a [JSDoc typedef](http://usejsdoc.org/tags-typedef.html) for each of the object types and then having the methods return those custom types instead of just generic objects?

also, would that be possible @braincore?

[2016-08-04 21:00] greg-db commented on #50
I don't have much context on JSDoc, but it sounds good.

[2016-08-04 21:27] #19 closed

[2016-08-05 21:34] greg-db commented on #47
Another option is for developers to use the "Generate" button on their app's page on the [App Console](https://www.dropbox.com/developers/apps).

[2016-08-06 05:04] RileyTomasek commented on #47
thats not helpful for people who havent created an app yet though. ideally, im just going to send people to the auth example to get the token eventually

[2016-08-09 01:08] #47 closed

[2016-08-09 01:09] #49 closed

[2016-08-10 16:31] engina opened #61 "Download/Upload support"
Hello,

It looks like initial download/upload support is here.

A few thoughts:

1. superagent has a throttling plugin, this should be used per access token to avoid 429 errors.
2. it looks like buffering is turned on for downloads, instead an API that accepts a writestream would be easier on memory I believe.

[2016-08-10 18:09] RileyTomasek commented on #61
hey @engina, thanks for your thoughts. if you have some more info for 1, or the time to open a pull request, that would be great. for 2, i was having a hard time coming up with an acceptable interface using streams, because this library needs to be as similar as possible between node and the browser. do you have any suggestions on what that could look like?

[2016-08-10 19:07] engina commented on #61
Hi @RileyTomasek,

1. With superagent you have this option: https://github.com/leviwheatcroft/superagent-throttle
There's also an abstract limiter (this is what i use): https://github.com/jhurliman/node-rate-limiter

First one would be very easy for you to implement I believe but second one supports burst which might perform better. I haven't checked the first one's implementation.

I don't have t

[2016-08-11 03:20] rubengarciam opened #62 "react native download as blob unsupported"
Looks like there's an error when calling **filesDownload** in a _react native_ app. Output error:

`{ [Invariant Violation: The provided value 'blob' is unsupported in this environment.]
	  line: 2074,
	  column: 16,
	  sourceURL: 'http://localhost:8081/index.ios.bundle?platform=ios&dev=true&minify=false',
	  name: 'Invariant Violation',
	  framesToPop: 1 }`

[2016-08-11 07:19] dukhanov commented on #42
I have the same issue, any updates?

[2016-08-11 23:23] greg-db commented on #42
@RileyTomasek @krieb It looks like the request is going to api.dropboxapi.com instead of notify.dropboxapi.com.

[2016-08-15 21:06] RileyTomasek commented on #62
Hey @rubengarciam, react native isn't currently a platform that we support. If you are interested in opening a pull request to implement this, let me know and we can discuss details. Otherwise, the easiest fix for you is going to be to implement your own [downloadRequest function](https://github.com/dropbox/dropbox-sdk-js/blob/master/src/download-request.js) that works in react native. Let me know

[2016-08-15 21:06] #62 closed

[2016-08-15 21:08] RileyTomasek commented on #61
@engina, im going to close this as a bug and note it in future improvements to consider. these are both currently possible for people who need them by implementing their own downloadRequest functions.

[2016-08-15 21:08] #61 closed

[2016-08-15 21:08] #15 closed, assigned to nobody

[2016-08-15 21:08] RileyTomasek commented on #14
@greg-db do you think this is still needed? any ideas what a good example would be that isn't covered by our existing examples?

[2016-08-15 21:10] RileyTomasek commented on #55
this is related to #42

[2016-08-15 21:47] greg-db commented on #14
@RileyTomasek Looking through, a few more things that would be useful, in some rough order of importance in my opinion:
- catching specific errors (e.g., how do I programmatically differentiate between `path.not_found` and `path.not_file` from [/download](https://www.dropbox.com/developers/documentation/http/documentation#files-download)) but that may be related to #50.
- using `filesListFolderCon

[2016-08-17 00:45] rubengarciam commented on #62
Just not enforcing the responseType as _blob_ fixes the issue in _react native_ (i.e., commenting line 70 in _download-request.js_

[2016-08-17 04:19] RileyTomasek commented on #62
do you know a good way to check if the current environment is react native? we could potentially set download-request.js69 to something like `if (this.xhr && ![react native]) {` so that it doesnt get set for react native.

[2016-08-17 05:01] rubengarciam commented on #62
try/catch should do the trick?
[code]

[2016-08-20 02:02] jvilk commented on #50
This sounds great.

By the way, [this JSDoc template](https://github.com/englercj/tsd-jsdoc) generates TypeScript definition files. It works mostly perfectly on your project... except...

* Some of your methods specify `null` as the type of optional type.
* Your arrays aren't typed (e.g. `Array` instead of `Array<string>` or `string[]`)
* TypeScript uses lowercase letters for primitives; the tool

[2016-08-23 11:10] simon-p-r opened #63 "getAccessToken"
Hi

How do you create an accessToken programmatically?  I have tried using above method but is undefined because I have created class with no access token option.  I have seen auth examples but this is with web interaction, is this not possible due to auth2!?

Thanks

[2016-08-24 02:48] ChrisAlvares opened #64 "Support the "Code" Authorization flow"
Currently, only the `token` authorization flow is working, which is fine for front end frameworks, but using nodejs, it is way more secure to use the `code` authorization flow so that the access token is not exposed to users or browser extensions.

I am guessing two things need to be supported here: the clientSecret parameter and a new method for converting a code to an access token.

[2016-08-25 17:20] greg-db commented on #64
Thanks! We'll consider it a feature request.

[2016-08-25 17:42] greg-db commented on #63
You can't create an access token entirely programmatically, as the user needs to explicitly/manually authorize the app before the app is given an access token to access the user's account.

You'll need to process the app authorization flow as shown in the [auth example](https://github.com/dropbox/dropbox-sdk-js/blob/master/examples/auth/index.html) first. After that, you can store and re-use the r

[2016-08-25 17:42] #63 closed

[2016-08-27 01:23] jvilk opened #65 "TypeScript Typings"
I'm opening up this issue to start a dialog. Would you be open to generating TypeScript typings for your library, and including them in the NPM package?

## Overview

[I wrote a TypeScript definition generator for Stone that can automatically generate a TypeScript definition file for a JavaScript client.](https://github.com/dropbox/stone/pull/14) Stone types neatly map onto TypeScript interfaces.

[2016-08-31 23:59] simon-p-r commented on #63
What if the consumer of dropbox api and user are one and same thing? They cannot programmatically access api without needless gui interaction with oauth2.  This makes the api not very programmer friendly, and I can only hope this changes in the future!

[2016-09-01 00:12] greg-db commented on #63
Thanks for the feedback! You can get the access token once though, and store and re-use it programmatically without further manual intervention after the first use though.

[2016-09-01 01:12] smarx commented on #63
Also, not sure if you already knew this, but you can just go to https://www.dropbox.com/developers/apps, click on your app, and then click "Generate access token" to get one. There's no need to go through the OAuth flow in the browser if you just need a token for your own account.

[2016-09-01 07:41] simon-p-r commented on #63
Thanks @smarx  I will have to use that method but it would be good if this could be accessed by an api call.

[2016-09-01 07:43] smarx commented on #63
@simon-p-r How would you authenticate such an API call?

[2016-09-01 07:58] simon-p-r commented on #63
I am not a security expert, just a Dropbox customer that finds it a cumbersome API to work with.

[2016-09-01 08:02] smarx commented on #63
My point is that you'll have to pass *some* sort of secret to get an access token, and you'll need to get that secret from dropbox.com when you're logged in. (How else would you prevent other people from accessing your account?)

The access token is already a secret you get from dropbox.com when logged in, so I can't think of a way to make this easier unless we supported username/password authenti

[2016-09-04 20:46] pianomister opened #67 "How to migrate from APIv1 Dropbox.Client to APIv2?"
Long story short: I am currently using Dropbox Datastore API 1.2.0, after datastores were deprecated I switched to using files in the user's Dropbox folder to store my JSON data (permission type: app folder). Now that APIv1 was completely deprecated in June 2016, I'd like to switch to APIv2.

After long time of googling around and finding several authentication methods and mostly outdated informat

[2016-09-05 13:59] amk221 commented on #14
I set myself a simple task of listing the files in a folder. I have iterated through them using `filesListFolder`, but couldn't see an example of how to link to these. I thought that would be simple. There is a "download" example, but I for that you need a share-link?

[2016-09-05 20:30] greg-db commented on #67
Thanks for the post @pianomister ! We haven't updated the official Dropbox site with the final information on this SDK, but you can certainly go ahead and migrate to it and use it in production.

Also, you're right that this SDK doesn't do as much of the authorization and token storage/management for you, but I'll be sure to pass this along as a feature request. For reference, there was some discu

[2016-09-06 05:44] braincore commented on #65
This is definitely interesting to us! Let's land your other diff first before we address this one. Does TypeScript 2.0 have an official stable date?

[2016-09-06 08:10] simon-p-r commented on #63
Basic auth over ssl is safe for what this feature is providing, which is basic programmatic access to generate a token.  This token could even expire until the real token is generated.

As I said I am no security access but all I know are other public apis have better interfaces for providing access to their services.

[2016-09-06 16:31] greg-db commented on #14
@amk221 You don't need to first get a link to download a file. (The download example just happens to do so.)

You can download a file without a shared link by supplying the file path to the [`filesDownload`](https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#filesDownload__anchor) method.

If you do want a shared link though, you would use [`sharingCreateSharedLinkWithSettings`](https://dropbox

[2016-09-06 16:33] amk221 commented on #14
My bad, totally missed that. Cheers

[2016-09-06 18:35] jvilk commented on #65
Nope, but a release candidate is out and only [a few issues remain marked for the 2.0 release](https://github.com/Microsoft/TypeScript/milestone/27). I'd guess within a month, given their track record.

[2016-09-08 21:00] ulion opened #68 "The RPC Request not always has a response, while the buildCustomError directly use response.text cause crash"
as title.

https://github.com/dropbox/dropbox-sdk-js/commit/e1e440737964736511b1126840d6bf41b5dc50fc#commitcomment-18948135

the code can not assume the response is always there and has a text field. if the there is connection problem, the response is undefined.

[2016-09-08 22:07] greg-db commented on #68
Thanks for the report. We'll look into it.

[2016-09-08 22:38] braincore commented on #68
@RileyTomasek: halp! :)

[2016-09-10 03:21] RileyTomasek commented on #68
this is an easy fix. ill get to it in the next few days.

[2016-09-10 10:17] braincore commented on #65
I've updated the SDK with the new JSDoc typing information. We can get started on this now :)

[2016-09-10 15:32] jvilk commented on #50
[The JSDoc is now greatly improved](https://dropbox.github.io/dropbox-sdk-js/index.html), so I believe this issue can be closed.

[2016-09-10 15:33] jvilk commented on #65
Once I update the generator to handle struct polymorphism, I'll open up a PR.

[2016-09-10 19:33] #50 closed

[2016-09-11 11:23] pianomister commented on #67
Hey @greg-db,
thanks a lot for your response! I am using the API for a web-based application, running in standard browser environment and as home screen web app on iOS. So, localstorage would fit as a storage solution - same as the old API.

I also read the discussion in #48 which you adressed. I am wondering about the responses that the comfortable solution provided in the older API is considered

[2016-09-11 16:21] jvilk commented on #65
btw, I'm throwing some of the example code at the TypeScript typings to test them out, and I'm noticing that the examples omit some argument fields that are not marked as nullable in the stone typings.

For example, the `auth` example calls `filesListFolder` with `{path: ''}`, but omits options like `recursive` and `include_media_info`. My TypeScript typings mark all of the fields as required, as

[2016-09-11 18:29] jvilk commented on #65
Nevermind! I just noticed the default values.

[2016-09-11 22:00] jvilk commented on #65
PR now open on stone! 😄 When that's merged in, I can open a PR on dropbox-sdk-js from [my fork](https://github.com/jvilk/dropbox-sdk-js/tree/typescript-typings).

[2016-09-12 01:53] RileyTomasek commented on #68
Hey @ulion, thanks for reporting this. Does PR #69 solve your issue?

[2016-09-12 17:13] greg-db commented on #67
Thanks for the additional feedback! That was a bit of miscommunication in #48, but I've sent this along to the rest of the team internally, including your comments here.

[2016-09-13 16:47] Julisep opened #71 "Files get corrupted when uploading"
Files get corrupted when I upload a doc, docx or pdf file:

    dbx.filesUpload({ path:  path, contents: fs.readFileSync(filepath) })
        .then(function (response) {
            console.log(response);
        })
        .catch(function (err) {
            console.log("Error:");
            console.log(err);
        });

[2016-09-13 17:57] greg-db commented on #71
@Julisep I can't seem to reproduce this. How are you checking that the uploaded file is corrupted? How exactly is it corrupted? (E.g., is it empty, truncated, or otherwise malformed?)

[2016-09-13 18:24] Julisep commented on #71
When the "filepath" leads to a .docx-file the file is uploaded to dropbox, but when I then download the file and open it in word the program says "The File is corrupted."

[2016-09-13 18:44] greg-db commented on #71
I can't reproduce that, so a few things that may be helpful:
- How are you downloading the uploaded file?
- Can you share the `response` output? I'd be interested to see the file size there.
- Also, the original file size and the file size of the downloaded file may be useful for reference.

[2016-09-13 19:58] shiftsave opened #72 "Cannot find 'crypto'"
Hi,

I am trying to integrate this with a meteor app I am building but can't get past the build of the app. It gives me the same error every time - any ideas on how to solve this?

`install.js:85Uncaught Error: Cannot find module 'crypto'require @ install.js:85meteorInstall.node_modules.dropbox.node_modules.superagent.node_modules.formidable.lib.incoming_form.js @ incoming_form.js:3fileEvaluate @

[2016-09-13 20:41] greg-db commented on #72
I'm not too familiar with meteor, but I was able to reproduce this in a new meteor project. When I did I also got this in the terminal:

That seemed to resolve the crypto dependency issue for me. Can you try that?

[2016-09-13 21:09] shiftsave commented on #72
I tried that but askes me for the dependency still, did you install the stubs within the dropbox folder npm modules or the global meteor modules?

[2016-09-13 21:25] shiftsave commented on #72
I created a blank project and copied all my data and ran meteor-node-stubs successfully. Not sure what happened but thanks for your help @greg-db

[2016-09-13 21:31] #72 closed

[2016-09-14 03:31] #68 closed

[2016-09-15 02:19] bcoover opened #73 "popup oauth?"
Where has the popup oauth method gone? Will you bring it back? How would one go about implementing this?

[2016-09-15 08:50] tab00 opened #74 "Allow ids to be used to identify file (to delete, download, etc)"
In the JavaScript SDK, it currently appears that only `path` is allowed as an identifier. I had come across errors when I tried to use `id` as the path like `"path": "id:a4ayc_80_OEAAAAAAAAAYa"` to delete a file.

There are some REST endpoints that allow for id to be used as the path.  e.g.:
[/download](https://www.dropbox.com/developers/documentation/http/documentation#files-download)
[/get_metad

[2016-09-15 08:59] smarx commented on #74
IDs seem to be working fine for me.

Can you share your code and the exact error you saw?

[2016-09-15 09:27] tab00 commented on #74
`clientDropBox.filesDelete({ path: "id:auI0bL0f7_AAAAAAAAAAxQ" })`

The error message is:

[2016-09-15 16:29] smarx commented on #74
`/files/delete` does not appear to support using file IDs.

For endpoints that *do* support IDs, I believe this library similarly supports it.

[2016-09-15 16:31] greg-db commented on #74
That's correct, some endpoints, such as delete, don't currently support file IDs. We're tracking this as a feature request though.

[2016-09-15 16:41] greg-db commented on #73
It sounds like you're referring to the [`Dropbox.AuthDriver.Popup`](https://github.com/dropbox/dropbox-js/blob/stable/guides/builtin_drivers.md#dropboxauthdriverpopup) functionality in the old [dropbox-js library](https://github.com/dropbox/dropbox-js). This dropbox-sdk-js library is entirely new, and doesn't share code with that one. I'll send this along as a feature request for a pop-up authoriz

[2016-09-17 09:16] ThomasBormans commented on #71
I have the same problem. I have a zip file and the following code:
[code]

When the file is uploaded, it automatically downloads on my computer (through the Dropbox app for Mac) in my root folder of Dropbox. When I try to unzip the uploaded file, I get the following message:
`Unable to expand "test.zip" into "Dropbox". (Error 21 - Is a directory.).

This is the output from the Dropbox sdk:
[code]

[2016-09-17 17:59] smarx commented on #71
@ThomasBormans, drop the `'utf8'` from your call to `fs.readFile`. Zip files are not UTF-8 encoded.

[2016-09-19 18:33] #71 closed

[2016-09-21 05:06] shiftsave opened #75 "Get URL to populate image field"
Hi!

I'm trying to leverage the API to populate the content of my app's dropbox folder onto a React component.

Here is my code, I tried to use filesDownload but unfortunately that does not provide to the URL of the image.

[code]

[2016-09-21 17:28] greg-db commented on #75
@shiftsave It sounds like you're looking for the [`filesGetTemporaryLink`](https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#filesGetTemporaryLink) method. That returns a direct URL for the file contents.

Also, I see you edited out your access token, but you should revoke it if you haven't already just to be safe since it was included in the email for your initial version of this issue.

[2016-09-21 17:28] #75 closed

[2016-09-23 05:00] jmaicaaan opened #76 "Error in call to API function "files/upload""
I'm trying to upload a file which is parsed by the `formidable` module on my request-response handler.
I want to upload from my angular the file then parse the request using `formidable` then read the uploaded file by `fs.readFile()` without encoding param but it won't upload. Here's my code..

[code]

Then my dropbox module code is here:

[code]

Regards

[2016-09-23 05:32] jmaicaaan commented on #76
I would like to close this issue for now. I have now fixed it, my problem occurs on joining the path in my handler where the `path.join('/', file.name)` results to `\theNameOfTheFile.txt` and dropbox cannot find the specified path. Thanks

[2016-09-24 02:37] kevzettler opened #77 "TypeError: dbx.filesCommitInfoWithProperties is not a function"
Seeing this method in the documentation but its not actually in the sdk?

http://dropbox.github.io/dropbox-sdk-js/global.html#FilesCommitInfoWithProperties__anchor

[code]

[2016-09-24 02:40] #77 closed

[2016-09-24 02:59] #76 closed

[2016-09-30 03:31] wired8 opened #78 "filesSearch max_results issue"
I have a folder with 10 .mp3 files, there are ~100 deleted files that **were** in this folder.

When doing a fileSearch with the following options I get 0 results:

[code]

I would expect all 10 files to come back in the matches array response.

[2016-09-30 21:21] greg-db commented on #78
Search results are subject to a delay, due to indexing. I can reproduce this behavior, but only for a short period of time. Can you try again now and let us know if you're still seeing this?

(By the way, because of the delay, you may want to use [`filesListFolder`](https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#filesListFolder__anchor) and [`filesListFolderContinue `](https://dropbox.githu

[2016-09-30 22:41] wired8 commented on #78
Hey @greg-db thanks for the fast response.

For our account we are still experiencing the search issue more than a day after deleting said files.    The reason we are using fileSearch is because we require pagination support.

[2016-09-30 22:58] wired8 commented on #78
Will do thanks @greg-db

[2016-10-03 18:23] greg-db commented on #78
Thanks! We've received your ticket and believe this isn't related to the SDK itself, but rather Dropbox and the Dropbox API, so I'll close out this issue and follow up with you on the ticket.

[2016-10-03 18:23] #78 closed

[2016-10-03 20:15] kenjiru commented on #65
It's very nice to see that you guys are already things about supporting TypeScript typings.

When you have something in, I'm definitely going check it out!

[2016-10-03 21:21] jvilk commented on #65
@kenjiru it's completed; I'm just waiting for Dropbox to review the code. :) Feel free to check out my [open PR for TypeScript definition files for stone](https://github.com/dropbox/stone/pull/14) for details.

[2016-10-03 21:22] braincore commented on #65
Yes, sorry, I was on PTO for 2 weeks. I'll be reviewing this soon.

[2016-10-07 19:54] nitin42 opened #80 "Upload session example"
For the file size greater than 150 MB we use the upload session. But any example for the same would be great because I am not able to implement it correctly after so many trials.

Thanks!

[2016-10-07 20:16] greg-db commented on #80
Thanks for the request! We don't have a sample of using upload sessions in this JavaScript SDK, but I'll be sure to pass this along as a request for one.

[2016-10-07 21:36] nitin42 commented on #80
Just one more thing. When I am uploading an image using ```.filesUpload()``` the image is uploaded to the dropbox without any issues but when I try to open it, it says the image empty. Any other way of uploading images?

Thanks!

[2016-10-07 21:38] greg-db commented on #80
The `filesUpload` method should work fine for images. Please open a new issue with the code you're using and the output you're getting and we'll be happy to look into it and help.

[2016-10-07 21:53] nitin42 commented on #80
Thanks! I got it wrong. I just completely missed the encoding while reading the file. Was using **utf-8**.

[2016-10-10 18:19] #42 closed

[2016-10-15 22:46] GeoffreyPlitt opened #81 "Syntax for "shared link" ?"
I'm trying to get getFile() to work.

I can create the API object and the token is correct.

Then I try getFile(), and I have tried the following for the url:
- https://dl.dropboxusercontent.com/1/view/ID/Apps/NAME/FILE.EXT
- https://db.tt/CODE

Both of these are valid URLs for a file in my dropbox, and neither of them work. I get:
[code]

What's the right format for a shared link? Any examples?

[2016-10-17 12:10] elburz commented on #14
This definitely needs to happen I think. Anyone new coming to the library is completely baffled by the lack of documentation and examples. If there's no documentation then there should be a healthy number of examples to make up for it. Or vice versa. With neither, you're left guessing and pulling straws and hoping something works. Even a few more complex examples like sharing folders, setting acce

[2016-10-17 18:29] greg-db commented on #81
HI @GeoffreyPlitt , this API call is expecting a link that looks like https://www.dropbox.com/s/2sn712vy1ovegw8/Prime_Numbers.txt?dl=0 , e.g., as returned by [`sharingCreateSharedLinkWithSettings`](https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#sharingCreateSharedLinkWithSettings__anchor) or [`sharingListSharedLinks`](https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#sharingListSharedLi

[2016-10-17 18:29] #81 closed

[2016-10-17 18:39] greg-db commented on #14
Thanks for the additional feedback @elburz !

[2016-10-18 10:28] eddyerburgh commented on #80
+1 For this example being added - I can't find a single example of how to use upload sessions! Been struggling with this for a couple hours

[2016-10-21 18:45] seieibob opened #82 "sharingGetSharedLinkFile gives undefined value for fileBinary"
Hello,

I'm working with the SDK and I'm having issues with downloading files. Specifically, when I use the example code for downloading using sharingGetSharedLinkFile, I get an undefined file binary in return.

I have read in the docs that the download endpoint is not yet available, and here I have read that download support was added in 2.1. Am I missing something?

Thank you!

[2016-10-21 21:23] greg-db commented on #82
HI @seieibob it sounds like you're referring to the sample code here:

https://github.com/dropbox/dropbox-sdk-js/blob/master/examples/download/index.html

That's working fine for me. Can you share the code you're using (if not exactly that) and the error you're getting? Your `SHARED_LINK` value may also be helpful if you don't mind sharing it.

Also, yes, the documentation about the lack of conten

[2016-10-21 23:40] seieibob commented on #82
Thank you for the quick response. My code is mostly unchanged:

[code]

The link is [https://www.dropbox.com/s/ti6agnpif4zrrgd/GC.zip?dl=1](https://www.dropbox.com/s/ti6agnpif4zrrgd/GC.zip?dl=1). It's a compressed version of the memory card directory for Dolphin.

When I download it, I get a 9-byte file simply saying "undefined".

Thank you for your time!

[2016-10-22 00:11] greg-db commented on #82
Thanks! This actually is working for me though. (I get the valid 32 KB file.) Can you share the log output you're getting?

[2016-10-22 01:51] seieibob commented on #82
[code]

[2016-10-22 01:59] seieibob commented on #82
I have the source as a Gist for you [here](https://gist.github.com/seieibob/a5b5d056241366b90e637d019c5de8cd) as well.

[2016-10-24 22:38] greg-db commented on #82
I see, thanks! I was trying it in a normal node app before.

I just tried this in the Electron quick start app, and I can't reproduce it when running it in the main code, but I can when running it in the renderer code.

Based on your code, it does look like you're running that code in renderer. I'm not sure offhand if this is something we can support, but some potential workarounds for now:

- run

[2016-10-25 01:21] seieibob commented on #82
Oh jeez, I had no idea. I need to do more reading on Electron, apparently. Thanks for all your help.

[2016-10-25 01:21] #82 closed

[2016-10-26 15:04] kenjiru opened #84 "filesDownload throws when there is no file to download"
When calling `filesDownload` for an inexistent file it throws the following exception:

[code]

From the stack trace, it look like the problem lies with the `superagent` lib used by `dropbox`.

Chrome 54, dropbox-2.4.0

[2016-10-26 18:25] greg-db commented on #84
Thanks for the report! We'll look into it.

[2016-10-29 21:40] kenjiru commented on #80
It would be nice to also include a batch upload example, as the documentation is a bit lacking and confusing.

[2016-10-31 12:33] gokhandilek commented on #74
This would be useful to have.

[2016-11-03 13:42] kozko2001 commented on #62
You can use the navigator.product

[code]

[2016-11-07 08:46] tnightingale opened #85 "filesListFolderLongpoll() causes CORS preflight error"
[code]

Tested on macOS Chrome (54.0.2840.71 (64-bit)), Safari (10.0.1 (11602.2.14.0.7)) & Firefox (49.0.2).

This seems unrelated to #42 (or associated issues) because domain is notify.dropboxapi.com *not* api.dropboxapi.com.

Can also be reproduced with following XHR request:

[code]

It seems it is the Content-Type "application/json" header that is triggering the CORS prefilght. The suggested [

[2016-11-07 18:15] greg-db commented on #85
Thanks! We'll look into it.

[2016-11-08 15:26] kapersoft opened #86 "Special characters in filename"
When uploading files with special characters (e.g. à, é or ö) in the filename, an error message  is raised:
`Error in call to API function "files/upload": HTTP header "Dropbox-API-Arg": could not decode input as JSON`.

The dropbox desktop application handles special characters fine. Anybody knows why this isn't working?

An example project producing the error message can be found at https://githu

[2016-11-08 18:07] greg-db commented on #86
Thanks for the report! We'll look into it.

[2016-11-11 06:24] b-dur commented on #64
I need this functionality as well.

But in the meantime I created an "extension" package that does the trick for me. Maybe it could be useful for others too.

It can be found here: https://www.npmjs.com/package/dropbox-client-oauth2

[2016-11-12 16:19] evanbattaglia commented on #62
Indeed, https://github.com/evanbattaglia/dropbox-sdk-js/commit/fbb202abbcf9e1a359293892863e8e155b471c90 seems to work for me.

[2016-11-16 16:27] plemarquand commented on #65
@braincore @jvilk Is this still in progress? I've been holding off porting my project to the new dropbox API until it has TypeScript support.

[2016-11-16 16:46] jvilk commented on #65
@plemarquand Yeah, same here. I'm waiting on a code review.

[2016-11-21 11:25] kenjiru commented on #65
@plemarquand Don't hold of, just add a declaration for the module. Starting with TypeScript 2.0, you can do this
`declare module "dropbox"`

You loose all the typing information, so you will need to rely on unit tests. But at least you can use the new package, and you can drop the stub when the typings will become available.

[2016-11-22 05:40] MaxwellK commented on #86
Thanks Greg - appreciate the quick response. I'll follow here. (Re: [https://www.dropboxforum.com/t5/API-support/HTTP-header-quot-Dropbox-API-Arg-quot-could-not-decode-input-as/m-p/195155#M8876](https://www.dropboxforum.com/t5/API-support/HTTP-header-quot-Dropbox-API-Arg-quot-could-not-decode-input-as/m-p/195155#M8876)).

[2016-12-01 05:17] kennellink commented on #80
I would like to see an example of monitoring upload progress.  The previous SDK had an onXhr member where I could call clientObj.onXhr.addListener() and then use xhr.upload.addEventListener().  Is there access to the XMLHttpRequest object in this new SDK?

[2016-12-01 05:22] kennellink commented on #14
I would appreciate an example of
* how to show the progress of an upload
* how to do an in-browser view of a file

[2016-12-01 18:09] greg-db commented on #14
Thanks for the feedback @kennellink !

[2016-12-01 18:09] greg-db commented on #80
Thanks for the requests all!

@kennellink I don't believe this SDK exposes that, but I'll be sure to pass this along as a feature request.

[2016-12-06 09:41] adam187 commented on #86
@kapersoft @greg-db @MaxwellK I Had same issue with Chinese characters so i created PR with fix https://github.com/dropbox/dropbox-sdk-js/pull/87

[2016-12-06 17:57] greg-db commented on #86
Thanks!

[2016-12-07 16:51] kapersoft commented on #86
I've tested PR #87, it works like a charm. Thanks @MaxwellK!

[2016-12-07 16:52] kapersoft commented on #86
I've tested PR #87, it works like a charm. Thanks @adam187!

[2016-12-20 13:56] sdetweil opened #88 "filesDownload fileBinary is undefined"
trying to add Dropbox support to my application, running under angular and nodejs, need to download files..

have the list of files, and issue the filesDownload({path:...path to file..})
get a valid response .then(...)

but the filebinary field is (undefined)..

so, where is the data of the file?
no errors are reported.

there is no example of using this api to actually create the file locally.

s

[2016-12-20 16:55] vladgolubev opened #89 "filesDownload: The header content contains invalid characters"
Hey guys. Whenever I run `dbx.filesDownload({path: '/some-non-ascii-filename-for-example-cyrillic'})` I get error `error [TypeError: The header content contains invalid characters]`

Is it something on my side or this is a reason? https://github.com/request/request/issues/2120

[2016-12-20 23:40] tjaartvdwalt opened #90 "filesUpload: overwrite file"
Is it possible to overwrite an existing file when uploading a file through the sdk?

I try:
[code]
where the file `/test` already exists, and I get the error
[code]

[2016-12-21 00:56] tjaartvdwalt commented on #90
Ah ok, had some trouble understanding the docs. The following is working for me:
[code]

[2016-12-21 00:56] #90 closed

[2016-12-21 18:57] greg-db commented on #88
Hi @sdetweil , thanks for the report! The `fileBinary` field should be set when running in node. Otherwise (in the browser), it will be in `fileBlob`. (The code for that is [here](https://github.com/dropbox/dropbox-sdk-js/blob/1ad47646cfbfaac3ce337602eec9d3722df5dc16/src/download-request.js#L57).)

Can you elaborate a bit on exactly where you're running this code? We had a similar report here that

[2016-12-21 19:31] sdetweil commented on #88
this is running on a raspberry PI,  under electron (browser) as part of an angular application.  (see the github smartmirror project, https://github.com/evancohen/smart-mirror)  ( as this is a browser based app I normally just  loadURL() the images, think of this extension as cycling image calendar reminders )

Both fileBinary and fileBlob are not defined in the response.

                   I hav

[2016-12-21 19:46] greg-db commented on #88
Thanks! It sounds like this is essentially the same issue as #82 then. The SDK doesn't explicitly support Angular/Electron unfortunately, so I'm afraid I don't have a good solution to offer right now.

You may want to try [the workarounds I mentioned](https://github.com/dropbox/dropbox-sdk-js/issues/82#issuecomment-255886201) in #82. I'll send this along as a request for explicit Angular/Electron

[2016-12-21 19:46] #88 closed

[2016-12-21 20:08] sdetweil commented on #88
is there a url path to consume a file?   http://xxx.dropbox.com/??????/path-to-file/somename.jpg
that is what I really need..  let the electron browser window consume/download the file.

but preview apparently wraps in some html, which won't work.. I need to be able to get th image size
after load but before display to adjust the window size to avoid empty space where the window is bigger than the

[2016-12-21 20:12] greg-db commented on #89
Thanks for the report! We'll look into it!

[2016-12-21 20:14] greg-db commented on #88
Yes, you can use [filesGetTemporaryLink](https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#filesGetTemporaryLink__anchor) to get a temporary direct link to a file.

[2016-12-21 20:32] sdetweil commented on #88
hm. I get the link, but when I load that in a browser window, I get a 'download' page, not the image displayed in the window...
I really want it to be like loading a file from any url.  (vs downloading it locally, and THEN loading it into a window with file://path/filename)

[2016-12-21 20:51] greg-db commented on #88
Are you getting a link that starts with "https://dl.dropboxusercontent.com/apitl/1/"? That may have a `Content-Disposition` that doesn't work for your use case.

As a workaround, you may want to use [`sharingCreateSharedLinkWithSettings`](https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#sharingCreateSharedLinkWithSettings__anchor) with the `raw=1` modification documented [here](https://www.dr

[2016-12-22 22:40] sdetweil opened #91 "SharingCreateSharedLinkwithSettings returns .tag 'invalid_settings' | 'not_authorized'"
I am sharing individual files, that 'may' already be shared, or may not.
I don't want to leave the state of the files shared forever, so I want to use and expires setting.

in the case where a file is already shared, I am getting this error..

my assumption is that it cannot chnage the sharing time from forever to the lesser value in the settings.expires..

wouldn't it be more appropriate for the

[2016-12-22 23:23] greg-db commented on #91
@sdetweil Can you share the relevant code and the full output? You should only get one of `invalid_settings` and `not_authorized` at a time. (They're different members of the [`SharingSharedLinkSettingsError`](https://dropbox.github.io/dropbox-sdk-js/global.html#SharingSharedLinkSettingsError) union.)

Also, apologies, the JavaScript SDK documentation doesn't show all of the documentation for each

[2016-12-22 23:32] sdetweil commented on #91
by 'basic', does that mean 'non-paying'?

the code

the error_summary 'settings_error/not_authorized'

[code]

[2016-12-23 00:37] greg-db commented on #91
Thanks! Yes, that's referring to the account level. "Basic" is the free level. Are you using a basic account? If so, that's the expected error for this code, as it doesn't have the ability to set shared link expirations.

[2016-12-23 00:46] sdetweil commented on #91
yes, using the basic account..  so that explains it..  I commented out the use of the expires.. so, will deal with that later..

thanks SO much for your prompt replies. and clear help..

[2016-12-23 04:33] greg-db commented on #91
No problem, we're happy to help!

[2016-12-23 04:33] #91 closed

[2016-12-29 06:55] qivhou opened #92 "Test on node doesn't work, when required Dropbox-sdk.min.js from dist"
Hi, Thanks for your good work firstly.

I cloned the latest repo on my local, and run `npm build` , then I changed the way to require Dropbox in `/examples/node/basic.js` file, detail as following

[code]
when I run the node basic test code, I get following error
[code]

then I changed the way to require Dropbox in `/examples/node/basic.js` file, detail as following
[code]
I got following issue, I

[2016-12-29 07:03] qivhou commented on #92
by the way, I found that `main` entry in `package.json` is `src/index.js`, maybe it's why the issue wasn't reported by others so far, since it works before webpack build.

[2016-12-29 08:18] fedwatch opened #93 "$ npm install --save dropbox have error"
!
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\user\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   '--save',
1 verbose cli   'dropbox' ]
2 info using npm@3.10.8
3 info using node@v4.6.0
4 silly loadCurrentTree Starting
5 silly install loadCurrentTree
6 silly install re

[2016-12-29 08:20] fedwatch commented on #93
npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Users\\user\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js" "install" "--save" "dropbox"
npm ERR! node v4.6.0
npm ERR! npm  v3.10.8
npm ERR! code ENOSELF

npm ERR! Refusing to install dropbox as a dependency of itself
npm ERR!
npm ERR! If you need help, you may report this error at:
npm ERR!     <http

[2016-12-29 19:35] greg-db commented on #93
The dropbox library doesn't list itself as a dependency, so it sounds like your package itself is named "dropbox". Rename it to something else (I believe it's set via "name" in package.json) and try again.

[2016-12-29 19:56] greg-db commented on #92
Thanks for the report! We'll look into it.

[2017-01-01 07:33] rubengarciam commented on #62
@RileyTomasek @evanbattaglia  Couldn't make it work for large files or some formats. Managed to get it working using [react-native-fs' downloadFile](https://github.com/johanneslumpe/react-native-fs) and calling Dropbox's download HTTP endpoint instead

`RNFS.downloadFile({`
`            fromUrl: "https://content.dropboxapi.com/2/files/download",`
`            toFile: localPath,`
`            heade

[2017-01-03 11:52] filipeamorim opened #94 "filesDownload path error"
When calling filesDownload i get the error

the code i'm using in node v4 is

[code]

I'm doing something wrong ?

[2017-01-03 18:48] greg-db commented on #94
Thanks for the report! That code looks fine, and I actually can't seem to reproduce this error. Is this the exact code you're using to reproduce it? (I would expect you to run in to #86 or #89 when using this code instead.)

I'm testing with Node v6.9.2 though, not v4. Do you have a newer version of Node available you can try for comparison?

Also, if you're not using the latest version of dropbox

[2017-01-03 20:00] filipeamorim commented on #94
The error is due the special character (ã). I tried without it and works fine. I'll look into PR #87 resolution. Thanks!

[2017-01-03 20:39] #94 closed

[2017-01-12 20:49] L30Yu commented on #88
I have similar situation and similar problem.

Can not get file downloaded by using filesDownload({ path: entry.path_display}).

response.fileBinary is 'undefined'

And I print out the response in download-request.js before this line
[code]
the text attribute of this response object is undefined.

And this response.res object does not have text attribute

[2017-01-12 21:44] sdetweil commented on #88
I had to change to the shared link approach

[2017-01-12 22:05] L30Yu commented on #88
@sdetweil  Thanks for your reply. Could you tell me how did use the sharingCreateSharedLinkWithSettings ?

I passed the value like this: {path: entry.path_display} and also tried {path: entry.path_display, raw:1}. I still can not get the file...

[2017-01-12 22:11] sdetweil commented on #88
+++
	            var args={}
                    // in my env, the file is on a list with //dropbox: in front of the filename found with the
                    // filesListFolder api
	            args.path=file.substring(DropBoxPrefix.length)
		    dbx.sharingCreateSharedLinkWithSettings(args)
  			      .then(
			        function(response)
				{
				    console.log("new share url="+response.url)

[2017-01-12 22:14] sdetweil commented on #88
@greg-db   maybe I like being spammed by others with similar problems..

[2017-01-12 22:17] L30Yu commented on #88
@sdetweil thank you very much.    :)

[2017-01-12 22:18] L30Yu commented on #88
@greg-db I just feel this is the same issue. And your guys discussion is very helpful.

[2017-01-13 19:29] pkerspe opened #95 "filesListFolder: TypeError "dimensions is undefined" if invalid image file in dropbox folder and "include_media_info: true""
When trying to use "filesListFolder" with the option "include_media_info: true" on a folder that contains an invalid image file (e.g. a file that simply has been renamed to have .jpg extension but is some PDF file for example) the client sdk throws an TypeError and fails to process the the response any further, even though the response itself contains more files and is, except for the missing dime

[2017-01-13 21:28] greg-db commented on #95
Thanks for the report! I can't seem to reproduce this error from the SDK itself though. Based on the stack, it looks like the error is coming from your `readFolderContentsRecursive` method. The SDK should (and does in my testing), successfully return all of the objects, with the invalid one omitting `dimensions`.

Can you share your `readFolderContentsRecursive` method? You may just need an extra

[2017-01-13 23:30] pkerspe commented on #95
Greg, thanks a lot for your prompt reply. Actually you are all correct with you assumption, indeed I was missing a hasOwnProperty call on the metadata property before reading its dimensions property. So it was indeed an issue in my own code.
Sorry for wasting your time. Closing issue

[2017-01-13 23:30] #95 closed

[2017-01-14 13:17] bwl21 commented on #14
I would like to see examples how to manage access_tokens in web applications.

I would like to see an approach which is as transparent as possible for the user while keep it as simple as possible. So what I would do is
* App has a login button: it does the authentification and stores the access_token in local store
* subsequent visits on the app use this access token
* user can decide to logout. T

[2017-01-18 14:51] pedroandreletra commented on #86
How much time until the PR is accepted? Need this live guys ;)

[2017-01-18 18:15] greg-db commented on #86
Apologies for the delay. I'll bring this up with the team again to see if we can get this moving.

[2017-01-22 22:04] jvilk commented on #65
Stone PR is merged in! I can now open a PR for this.

[2017-01-22 23:26] jvilk commented on #65
PR opened!

[2017-01-24 07:00] gildas opened #97 "Support Node.js Buffer with filesUpload"
I cannot find a way to upload a [Buffer](https://nodejs.org/dist/latest-v7.x/docs/api/buffer.html).

E.g.:
[code]

Am I missing something obvious? Or filesUpload should handle Buffer objects (I though superagent would)

[2017-01-24 07:14] gildas commented on #97
Drop it. Finally, it works as intended. Sorry for the noise.

[2017-01-24 07:14] #97 closed

[2017-01-29 19:13] bwl21 commented on #14
Definitely missing an exmple equvalent to

[code]

[2017-01-29 21:09] ppietak commented on #14
I think using most of the basic functionalities is relatively simple now - it just requires looking for needed methods in HTTP API, and finding its equivalents in /src of this JS SDK. Parameters and responses are the same, even method names are predictable.

Following this approach, I wrote something yesterday - https://github.com/ppietak/electron-dropbox-screenshot
It involves simple authorizatio

[2017-01-29 21:30] bwl21 commented on #14
@ppietak In V1 it was very simple. With V2 I find it rather not simple ...

Just found this solution

[code]

[2017-01-30 18:06] greg-db commented on #14
Thanks for the feedback all!

[2017-02-01 13:05] bwl21 commented on #86
I dropped in the same issue today and urgently waiting for this fix.

[2017-02-01 19:20] greg-db commented on #89
This is fixed in [v2.5.1](https://github.com/dropbox/dropbox-sdk-js/releases/tag/v2.5.1).

[2017-02-01 19:20] #89 closed

[2017-02-01 19:20] greg-db commented on #86
This is fixed in [v2.5.1](https://github.com/dropbox/dropbox-sdk-js/releases/tag/v2.5.1).

[2017-02-01 19:20] #86 closed

[2017-02-02 18:44] techbeat-baj opened #98 "Not able to save special german characters"
I am trying to save a file in dropbox with the content which contains some special german characters, but when I open the save file then it is showing some garbage value for the special characters. I am pasting sample piece of code.

[code]

[2017-02-02 19:17] greg-db commented on #98
@techbeat-baj What version of the library do you have? We recently released [v2.5.1](https://github.com/dropbox/dropbox-sdk-js/releases/tag/v2.5.1) with an encoding fix. If you're not already on that version, please upgrade to that and try again and let me know if that helps.

If you are still seeing this issue on [v2.5.1](https://github.com/dropbox/dropbox-sdk-js/releases/tag/v2.5.1), please:
- a

[2017-02-02 19:32] techbeat-baj commented on #98
@greg-db

I just updated the module to v2.5.1 but it still did not worked.

response output:

File has been uploaded.
{ name: 'test.txt',
  path_lower: '/test.txt',
  path_display: '/test.txt',
  id: 'id:SPQetY2T0ZAAAAAAAAAAug',
  client_modified: '2017-02-02T19:28:29Z',
  server_modified: '2017-02-02T19:28:29Z',
  rev: 'bb51ae0f42',
  size: 10,
  content_hash: '462931715c66820a0ce86ab78f15672a734

[2017-02-02 19:41] greg-db commented on #98
Thanks! I can't seem to reproduce this though. I get:

[code]
[test.txt](https://github.com/dropbox/dropbox-sdk-js/files/748782/test.txt)

What version of node do you have installed?

[2017-02-02 19:45] techbeat-baj commented on #98
I am having the node version v6.9.1

[2017-02-02 19:54] techbeat-baj commented on #98
I have one ubuntu machine with latest node version 7.4.0 and it looks it is working on that. So it solves the issue for now.

I am not sure that why it is not working on windows. So is it old node version issue or windows issues.

Thanks a lot @greg-db for helping out me on this.

[2017-02-02 19:54] #98 closed

[2017-02-03 16:43] bwl21 commented on #86
Yes it is. Thanks.

[2017-02-03 22:18] ir-fuel opened #99 "Documentation error"
in the readme you can find:

[code]

The link to `the Dropbox class definition.` gives a 404.

This file:

https://github.com/dropbox/dropbox-sdk-js/blob/master/docs/README.md

[2017-02-03 22:21] ir-fuel commented on #99
I fixed it and created a pull request:

https://github.com/dropbox/dropbox-sdk-js/pull/100

[2017-02-03 22:27] greg-db commented on #99
Thanks! We'll take a look.

[2017-02-11 00:14] brownieboy commented on #14
What @ppietak said.

I've spent hours looking around for something as simple as how to read the contents of a Dropbox file, before I came across his code.  It would be certainly be nice to have that be included as part of the SDK.  At the very least, it should be part of the documentation and/or examples.

[2017-02-15 02:46] MaxwellK commented on #85
I'm also having what I think is this issue - same errors as above:

`OPTIONS https://notify.dropboxapi.com/2/files/list_folder/longpoll 501 (Not Implemented)`
`XMLHttpRequest cannot load https://notify.dropboxapi.com/2/files/list_folder/longpoll. Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'ht

[2017-02-15 02:54] grazinskis commented on #85
@MaxwellK For chrome and firefox use the [Fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch).
For IE use a fetch polyfill.
For Safari use a different api method or longpoll implementation

[2017-02-18 14:23] AlesMenzel opened #101 "Streams"
Is there a way to upload files via stream?

I am using Express with Multer middleware.
[code]

[2017-02-19 18:25] techbeat-baj opened #102 "Not able to save iso-8859-15 encoded xml"
Earlier I logged similar issue for not saving german characters into text file: https://github.com/dropbox/dropbox-sdk-js/issues/98

That issue worked correctly but now when I am trying to save the XML which is having encoding scheme set as 'iso-8859-15' then it is not working.

I have the special character in XML 'Nürnberg' and when it is uploaded to dropbox then it got converted to some garbage

[2017-02-19 22:07] greg-db commented on #101
No, unfortunately I believe `filesUpload` will only work with a string or buffer, but I'll be sure to pass this along as a feature request.

[2017-02-19 22:19] greg-db commented on #102
I just tried this, and I can't reproduce it with your supplied code.

This does seem to be effectively the same issue as #98. Dropbox won't parse the encoding string in the xml in the file content you're uploading. It just sees it as some raw data to upload. Likewise, it doesn't handle it specially because it has a .xml extension. That's just part of the path.

That being the case, this may be an

[2017-02-20 05:27] techbeat-baj commented on #102
@greg-db

It is my bad. I am using notepad++ to open the XML files and it is using XML encoding attribute to show the data. I just open it with default editor and it is showing correctly.

Thanks a lot !!!

[2017-02-20 05:27] #102 closed

[2017-02-21 19:15] AlesMenzel commented on #101
@greg-db Thank you!

I have looked under the hood, and the library uses 'superagent' package which should support it.

[code]

See the docs (http://visionmedia.github.io/superagent/#piping-data):
[code]

[2017-02-23 16:44] posita opened #103 "Update API spec to include Paper"
There's a new API spec (dropbox/dropbox-api-spec@4483042b0016788742a1c4233a56e163e65b3121) that contains the paper endpoints. Consider updating this SDK.

[2017-02-24 00:06] pran1990 commented on #99
Thanks for reporting and fixing one of the broken links @ir-fuel . I fixed the other one in https://github.com/dropbox/dropbox-sdk-js/pull/105, so this issue can be closed

[2017-02-24 00:06] #99 closed

[2017-02-24 00:10] #103 closed

[2017-02-25 02:14] Arlen22 opened #106 "filesDownload gives a corrupted file"
[code]

The above code gives the output below, which is basically the first file in the first subfolder. If I write res.fileBinary to file, the jpg cannot be opened by anything.

[code]

[2017-02-25 02:17] Arlen22 commented on #106
From the dropbox package.json:   `"_id": "dropbox@2.5.1",`

[2017-02-27 17:46] greg-db commented on #106
Hi @Arlen22 you should tell `writeFileSync` to use the 'binary' encoding. That is, instead of:

`fs.writeFileSync(e.name, (res.fileBinary));`

use:

`fs.writeFileSync(e.name, (res.fileBinary), 'binary');`

[2017-02-27 17:46] #106 closed

[2017-02-28 02:19] qivhou commented on #92
Hi, any response for it?

[2017-02-28 13:41] florianbepunkt commented on #80
@greg-db Any update on this? Example of using sessions and/or batch upload would be really helpful as the docs are a bit sparse about this (or it's just me that finds understanding code more easy than api docs).

[2017-02-28 14:01] florianbepunkt commented on #80
Okay, to be more specific… I read the docs here: https://www.dropbox.com/developers/reference/data-ingress-guide

I struggle with the third step since I don't know what the argument for `filesUploadSessionFinishBatch(arg)` should be. the api docs only talk about sending a big file in multiple chunks, but not about batch uploading a lot of small files at once. therefore I don't know what cursor, et

[2017-02-28 18:40] greg-db commented on #92
Apologies for the delay! I don't have an update on this, but I'll check in with the team again.

[2017-02-28 21:52] kennellink opened #108 "Errors not returned as objects"
I find that errors are not returned as objects.  For instance, when I invoke filesMove() with a from_path that does not exist, the reason provided to the Promise's catch function has member error that is a string.  I have to use JSON.parse() myself to get a usable object chain corresponding to the error classes in the SDK.

Is that expected?

[2017-02-28 21:55] pran1990 commented on #108
Thanks for reporting @kennellink , I'll take a look.

[2017-02-28 23:02] greg-db commented on #80
Hi @florianbepunkt I don't have an update on a sample for this right now unfortunately.

As far as the documentation is concerned though, [`filesUploadSessionFinishBatch`](https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#filesUploadSessionFinishBatch) is documented as taking a [`FilesUploadSessionFinishBatchArg`](https://dropbox.github.io/dropbox-sdk-js/global.html#FilesUploadSessionFinishBat

[2017-03-01 14:27] florianbepunkt commented on #80
Hi @greg-db , thank you for the example. In your example the sequential execution of the promises is not guaranteed, right? So basically testFile2 could finish the uploaded before testFile1.

Is the order of the entries in dbx.filesUploadSessionFinishBatch not relevant? Let's say, testFile2 is uploaded before testFile1 but the entries array order is testFile1, testFile2.

[2017-03-01 20:37] greg-db commented on #80
That's correct, in my sample the `filesUploadSessionStart` call for testFile2 could complete before the one for testFile1.

For the sake of making the example more readable, I separated the different pieces. In a real app, you'd need to make sure you have all of the `filesUploadSessionStart` calls completed (as well as any `filesUploadSessionAppendv2` calls if you need them) before calling `filesU

[2017-03-03 06:10] kennellink opened #109 "Non-minimized version from unpkg.com unusable in browser"
The dropbox-sdk.js file served by unpkg.com (for example: [https://unpkg.com/dropbox@2.5.2/dist/dropbox-sdk.js]) does not define Dropbox when used in a browser.

My apologies for not being very adept at tracking down the problem.
Other libraries I've used allow me to fetch the non-minimized version and have it work transparently in place of the minimized.  This allows me to hack here and there loc

[2017-03-03 18:47] greg-db commented on #109
Thanks for the report! We'll look into it.

[2017-03-04 06:58] episodeyang commented on #85
@grazinskis what exactly do we need to do for Safari? Thanks!

[2017-03-07 05:39] kennellink commented on #85
I don't understand what "for IE use a fetch polyfill" means.  Can you give me a pointer?

This looks like it was reported four months ago and is still not working?  Am I missing something? @greg-db

[2017-03-07 07:03] kennellink opened #111 "CORS preflights on every call"
It looks like every call the SDK makes requires a CORS preflight - very inefficient.
On [this page](https://www.hitchhq.com/dropbox/activities/57b2d630a43e3fb71ba61758)
I found this:
Browser-based JavaScript and CORS pre-flight requests

When browser-based JavaScript code makes a cross-site HTTP request, the browser must sometimes send a "pre-flight" check to make sure the server allows cross-site

[2017-03-07 07:26] kennellink commented on #55
I believe this issue should be closed.  It looks like #79 fixed it, however #85 still appears to be broken and longpoll is unusable at the moment.

[2017-03-07 08:15] kennellink commented on #85
I just got lonpoll working by hacking the .min version from distribution (since non-min does not work in a browser) to effectively change rpcRequest() to do apiRequest.type("**text/plain; charset=dropbox-cors-hack**") and apiRequest.send(**JSON.stringify(**body**)**)

This apparently avoids the CORS preflight, thus avoiding the 501 response from the server to the preflight.

I hope this can make i

[2017-03-07 09:09] grazinskis commented on #85
@episodeyang I have come up with a couple ways of dealing with it:

1. The first method described [here](http://stackoverflow.com/questions/41427038/dropbox-javascript-longpoll-cors-issue) (number 1)
2. Periodically call filesListFolderContinue() with your latest cursor and check how many changes it reports.

It's ugly though. Amazing for how long this issue is still relevant. Let's hope the fix o

[2017-03-07 16:30] greg-db commented on #85
Thanks for following up, everyone. This issue is still open with the team on our side. I'll follow up here once we have an update.

[2017-03-07 16:31] greg-db commented on #55
Yes, thanks for pointing that out!

[2017-03-07 16:31] #55 closed

[2017-03-07 18:00] kennellink commented on #85
Thanks @episodeyang.  My hack does not work in Firefox and perhaps others since they rewrite the content-type.  Works in IE.

[2017-03-07 19:50] greg-db commented on #111
Thanks! I'll send this along to the team.

[2017-03-08 18:19] pran1990 commented on #111
Thanks for reporting @kennellink, I'll look at this.

[2017-03-08 18:23] pran1990 commented on #85
Hey @kennellink and others, we are in the midst of a backend rewrite that will fix this for free, but I'm unable to give you an eta yet. Give me a couple of days for an ETA.

Thanks a lot for the patience, and thanks for reporting.

[2017-03-11 16:08] florianbepunkt commented on #84
@greg-db Hi Greg, is there any progress on this? The issue still exists with current dropbox js client. I haven't found a way to catch this error yet.

[2017-03-13 18:53] greg-db commented on #84
I don't have an update on this right now. We'll follow up here once I do.

[2017-03-15 23:46] pran1990 commented on #92
@qivhou sorry if this is an obvious question, but do you need to be on those node versions? I am on 4.4.0 and both your changes work well for me, I'm trying out the other node versions you mentioned.

[2017-03-21 10:57] 4ewout opened #114 "authTokenFromOauth1 not working"
Hi, the authTokenFromOauth1 method doesn't work because it uses "app" authorization, which isn't implemented in the SDK. It throws this error: "Unhandled auth type: app"

I managed to workaround by setting the "Authorization" header to "Basic <base64 encoded app_key:app_secret>" when rpcRequest's auth parameter (in [rpc-request.js](https://github.com/dropbox/dropbox-sdk-js/blob/master/src/rpc-requ

[2017-03-21 15:53] pran1990 commented on #114
Thanks a lot for reporting! We will take a look.

On Mar 21, 2017 3:58 AM, "4ewout" <notifications@github.com> wrote:

[2017-03-27 20:21] #65 closed

[2017-03-28 17:12] ssshake commented on #67
Are there any plans to release a migration guide for this SDK? Like was what done with the API documentation that shows v1 to v2 mappings.

June is fast approaching and I've been tasked with migrating a client from v1 to v2. This is the closest ticket I found on the topic and it's pretty old. Thanks

[2017-03-28 18:00] greg-db commented on #67
I'm not aware of any plans to write and release a migration guide for migrating between the old and new JavaScript SDKs in particular, but I'll be sure to pass this along as a feature request.

The best way to get started is to work through [the readme](https://github.com/dropbox/dropbox-sdk-js), and review [the examples](https://github.com/dropbox/dropbox-sdk-js/tree/master/examples/javascript).

[2017-03-29 16:51] kennellink commented on #85
Thanks @pran1990, I appreciate the help!  Can I look forward to having a working filesListFolderLongpoll() (with some time to test) before the June deadline to be off API v1?

[2017-03-29 17:59] greg-db commented on #85
I don't have a timeline for a fix right now. I'll check in with the team again.

[2017-03-30 02:46] episodeyang commented on #85
@greg-db Thanks! :)

[2017-03-30 08:57] rafaellop opened #115 "v2 sdk and cordova"
The previous version of the dropbox sdk (v1) has the AuthDriver.Cordova which simplifies using the Dropbox service in cordova apps. I've decided to migrate my v1 cordova app to the new v2, but I'm lost. How can I use the v2 in cordova app? Is there a simple way to migrate? I've been using the oAuth2 + the `https://www.dropbox.com/1/oauth2/redirect_receiver` as in the v1 sdk AuthDriver for Cordova.

[2017-03-30 09:11] signsi opened #116 "sdk with WebWorkers"
Hi

We are swapping out all the work concerning dropbox into a webworker.
Unfortunately the following error happened all the time:

    at promiseFunction (download-request.js:86)
    at initializePromise (es6-promise.js:459)
    at new Promise (es6-promise.js:871)
    at downloadRequest (download-request.js:94)
    at DropboxBase.request (dropbox-base.js:107)
    at Dropbox.routes.filesDownload (

[2017-03-30 09:15] pran1990 commented on #116
Thank you!

On Mar 30, 2017 11:11 AM, "signsi" <notifications@github.com> wrote:

Hi

We are swapping out all the work concerning dropbox into a webworker.
Unfortunately the following error happened all the time:

TypeError: apiRequest.buffer is not a function
at promiseFunction (download-request.js:86)
at initializePromise (es6-promise.js:459)
at new Promise (es6-promise.js:871)
at downloadReques

[2017-03-30 12:24] greg-db commented on #115
Thanks for the post! It sounds like you're referring to the [`Dropbox.AuthDriver.Cordova `](https://github.com/dropbox/dropbox-js/blob/stable/guides/builtin_drivers.md#dropboxauthdrivercordova) functionality in the old [dropbox-js library](https://github.com/dropbox/dropbox-js). This dropbox-sdk-js library is entirely new, and doesn't share code with that one. It unfortunately doesn't offer offici

[2017-03-30 13:36] rafaellop commented on #115
Thanks. The v1 is still doing well, but would be great to be up-to-date.

[2017-03-30 22:59] adityabhaskar commented on #84
Facing the same error.

The only workaround I've found so far is to make a `filesGetMetadata` request before every `filesDownload`. Only if `filesGetMetada` returns without an error, make a `filesGetMetadata` request.

[2017-04-03 21:57] CareyJWilliams commented on #84
Same issue. This prevents .catch from firing, meaning that anything short of what @adityabhaskar  suggested is rather unsafe.

[2017-04-07 01:39] patgauvingeek commented on #115
Hi !

You can take a look at [dbhelper.js](https://github.com/patgauvingeek/FateApp/blob/master/www/js/dbhelper.js) in my repository. The function "authenticate_dropbox_with_cordova" is inspired by Cordova's AuthDriver. I think you need to add the inappbrowser plugin to your app. I didn't test the solution without it.

Any suggestion on how I can add this feature to dropbox-sdk-js ?

[2017-04-07 01:47] greg-db commented on #115
Thanks @patgauvingeek . Please feel free to open a pull request and we'll take a look.

[2017-04-10 15:54] kennellink commented on #85
Hi everyone.  I appreciate the work you're doing here.  We have a deadline, however, from Dropbox to be off API v1 by June and I am in dire need of filesListFolderLongpoll() to work before then.  Do you know if Dropbox will extend that deadline or if Longpoll is expected before then?  I'm sorry to push, but we have an app in production that our customers rely on and I need a plan to provide uninte

[2017-04-10 17:06] #108 closed

[2017-04-11 00:53] greg-db commented on #85
@kennellink Thanks for following up, and apologies for the delay. Work on this is ongoing, but it requires some infrastructure changes to do right. I can't offer a guaranteed timeline, but we do expect this to be done this month, well ahead of the v1 retirement.

[2017-04-11 03:16] episodeyang commented on #85
Thanks @greg-db ! It's really good to hear.

[2017-04-11 10:39] denkomanceski commented on #65
Hello, is there any plan to publish the typings on the DefinitelyTyped repository? so we will be able to install them like @types/dropbox ?

[2017-04-11 17:28] jvilk commented on #65
@denkomanceski I'm not affiliated with Dropbox, but the typings should be present in the next `dropbox` package. You will not need to install `@types/dropbox`, they will just be distributed with the module itself.

[2017-04-11 19:48] pran1990 commented on #65
@denkomanceski I'll be making a release on Monday, and you should be able to grab the typings from the dropbox package itself.

[2017-04-12 04:24] kennellink commented on #85
Thanks @greg-db that sounds great!  Best wishes.

[2017-04-13 17:03] adityabhaskar opened #118 "Accessing response headers in case of Error 429"
Hi

The HTTP documentation [here](https://www.dropbox.com/developers/documentation/http/documentation#error-handling) suggests looking up the `Retry-After` response header in case of a 429 error.

Are response headers exposed anywhere through the JS SDK?

I found this [`AuthRateLimitError`](http://dropbox.github.io/dropbox-sdk-js/global.html#AuthRateLimitError__anchor), but it isn't referenced any

[2017-04-13 18:35] greg-db commented on #118
Hi Adi, apologies this isn't more clearly documented. The `Retry-After` header you're looking for should be exposed in the JavaScript SDK as [`AuthRateLimitError.retry_after`](https://dropbox.github.io/dropbox-sdk-js/global.html#AuthRateLimitError__anchor). You would use that value to know how many seconds to wait before retrying the request.

It looks like there's currently an issue in the SDK wh

[2017-04-13 23:40] davidjgraph opened #119 "Security breach on the unpkg.com hosted version"
For about 50-60 minutes just now loading https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js was directing users through a series of malware sites. Pasting the URL into a browser gave https://compliance-jessica.xyz/a.php.

Could this be investigated please? It's important to know whether unpkg had a general problem or someone logged into Dropbox's account there and did this.

If you're looking at th

[2017-04-13 23:44] greg-db commented on #119
Thanks for the report! It looks like it was a general unpkg issue. They are providing updates here:

https://twitter.com/unpkg/status/852655106562564098

[2017-04-13 23:44] #119 closed

[2017-04-13 23:44] rmanalan commented on #119
@davidjgraph we got this on one of our services also, but we were using https://unpkg.com/axios/dist/axios.min.js, not the dropbox-sdk. Looks to be an unpkg issue

[2017-04-15 21:42] rymerrick commented on #80
Another request for a working example to be added.  It would be very helpful.

[2017-04-24 14:59] martin-y commented on #73
Is there any chance we will see this implemented? I find it rather hard to integrate our single page app without this feature.

The chooser/saver dialogs would be perfect from a usability perspective: they provide a save/load dialog inside a popup coupled with an authentication - however afaik they lack the ability to save a javascript data-blob - so a plain client-side solution is not possible.

[2017-04-24 17:43] greg-db commented on #73
Thanks for the feedback @martin-y . Unfortunately, no, I'm not aware of any immediate plans to implement this.

[2017-04-28 15:12] chrisjaure commented on #84
Any ETA on a fix?

[2017-04-28 16:45] greg-db commented on #84
No, unfortunately I don't have an ETA on this right now. We'll follow up here once we have an update for you.

[2017-04-30 12:09] jrmgx commented on #65
Does this has been published?
I guess I found the type file `./node_modules/dropbox/src/types.js` but it is not present in the `package.json` so VSCode does not find type automatically (or I'm wrong somewhere)

[2017-04-30 17:07] jvilk commented on #65
No; the last published release was 2 months ago, before the TypeScript types were merged into `master`.

[2017-04-30 17:20] pran1990 commented on #65
@jrmgx  published! sorry about the trouble, let me know how it works.

[2017-04-30 19:15] jrmgx commented on #65
works like a charm, thx :)

[2017-05-02 18:26] greg-db commented on #118
@adityabhaskar I see you just closed this issue. Is this working properly for you now, or did you develop a workaround? I don't believe we actually fixed this issue in the SDK yet.

[2017-05-02 18:28] adityabhaskar commented on #118
@greg-db Oops!

I forgot the bit about the value not getting populated.

Reopened it.

[2017-05-03 14:51] vladejs commented on #111
Is this solved yet? I **can't** use the SDK to upload bigger files just because of this errors:
[code]

[2017-05-03 18:18] greg-db commented on #111
@vladejs I don't have an update on this issue, but I don't believe this should be preventing large file uploads from completing.

Please [open a new issue](https://github.com/dropbox/dropbox-sdk-js/issues/new) with the steps to reproduce the issue, including the relevant code, so we can look into it. Thanks in advance!

[2017-05-03 18:23] vladejs commented on #111
@greg-db , I followed an example posted on #80  to upload big files using sessions, and got the above errors. The docs barely explain the simplest upload, so yeah, I just can't upload large files using the SDK.

Is unbelievable that such company like Dropbox doesn't have a clear guidance to use their platform. I am paying for a 1TB storage for nothing, 'cause my app can't upload a 151 mb file.

[2017-05-03 21:54] greg-db commented on #111
@vladejs Thanks for the feedback. Using upload sessions as described there is the right way to upload large files. I can't seem reproduce the error you're seeing though, so please [open a new issue](https://github.com/dropbox/dropbox-sdk-js/issues/new) with details so we can help.

[2017-05-04 00:36] vladejs opened #120 "Impossible to upload a big file (+200mb)"
Hi,

Following the examples shown in #80 , I got some errors using this implementation
[code]
I got the following errors in chrome, because of the reasons stated in #111
[code]

Currently, the SDK doesn't allow to pass any request headers so I literally **cant** use session uploads.

My question is: If it's doable, how?

[2017-05-04 08:11] danitt commented on #92
hi guys, I've put together a bare-bones repo with webpack + dropbox (the main example), which consistently yields an error case (at least on my machine):
https://github.com/danitt/dropbox-webpack

- tested using Node 4.7.0, 6.9.2
- Webpack 2.4.1

please let me know how I can help chase down this thing @pran1990

Error Output:
TypeError: require is not a function
    at Object.<anonymous> (/Users/d

[2017-05-04 19:29] yawhide opened #121 "giving an invalid cursor to `filesListFolderContinue` causes an error"
Hello,

If you give an invalid cursor to `filesListFolderContinue`, you get the following error:
[code]

If you look at the source code `src/rpc-request.js:6`, response.text is a string instead of an object
[code]

response.text will be: `'Error in call to API function "files/list_folder/continue": Invalid cursor'`

using node v7.9.0
sdk v 2.5.0

[2017-05-04 19:48] pran1990 commented on #121
Thanks for reporting! We'll take a look and get back.

On May 4, 2017 12:29 PM, "Stefan Wojcik" <notifications@github.com> wrote:

[2017-05-04 20:16] greg-db commented on #120
Thanks for writing this up! We'll look into it and follow up here.

[2017-05-04 21:45] vladejs commented on #120
Thanks.

I've tried today to use the **raw endpoints** described on API v2 docs by using plain old XMLHttpRequest object (this way it doesn't give me pre-flight and CORS errors) and chunking the file by my self, but (besides it was very painful) it didn't worked for me, the server on the last chunk always throws me an error, telling that the offered `offset` was incorrect.

I threw `console.logs`

[2017-05-04 21:54] greg-db commented on #120
@vladejs What environment are you running this in? I'm not getting this error when running this code in Chrome.

Also, a few other things I noticed in your code in your first message, though they may not be related:
- For large files, you'll need to call [start](https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#filesUploadSessionStart__anchor) once, and then [append](https://dropbox.github.io/

[2017-05-04 22:06] vladejs commented on #120
I am developing with Meteor. It serves my app on `http://localhost:3000`.

Using the SDK I got the CORS and Pre-flight errors, and using simple requests with XMLHttpRequest all is fine.

Nevertheless, I got the errors on the chunking process, more precisely calculating and sending the offset, so it would be extremely helpful for an *official / recommended / best practice* example to do the whole p

[2017-05-04 23:58] greg-db commented on #120
I see, thanks, that's helpful. The SDK was only really built for standard browser and node environments, so we don't have any specific documentation for Meteor.

I just tried this in a Meteor app though, installing the Dropbox library via npm, and I can't reproduce the issue when running it in the "server" code, but I can when running it in the "client" code.

So, it sounds like you're installing

[2017-05-04 23:58] #120 closed

[2017-05-05 14:24] vladejs commented on #120
Doing an `import Dropbox from 'dropbox'` and then using it on client side is not allowed? Why?
What's the difference between the npm version and the umd build (the one used on an script tag) ?

[2017-05-05 21:34] greg-db commented on #120
This isn't intentionally disallowed, but the SDK wasn't built to support Meteor, so this interaction isn't tested.

You can still use the SDK client-side as long as you include it as JavaScript library and run it there.

[2017-05-05 21:39] vladejs commented on #120
Why blame Meteor? I am doing with Meteor the same thing I would do with a simple *Webpack, Gulp, Grunt / {Put a web bundler here}* setup:

- Create a JS file
- `npm install` de SDK
- Import the object inside de JS file
- Use it.

[2017-05-05 21:41] vladejs commented on #120
In fact, I can tell that is SDK's fault, because doing requests to the endpoints by myself (and using Meteor) it doesn't give me those errors (but I come with the offset errors).

[2017-05-05 22:18] greg-db commented on #120
Thanks for the context. I'm not assigning blame to Meteor. The SDK just wasn't built to support it. I've sent this along as a feature request for support for it.

[2017-05-13 11:26] Le0Michine opened #122 "Add support of ES6 modules"
I'm opening up this issue to start a dialog. Would you be open to add support of ES6 modules in the sdk?

I'm trying to use this SDK in Angular 4 app with typescript and found that it can't be imported as other libraries.

[2017-05-15 23:40] greg-db commented on #122
HI @Le0Michine , we have `export`s for `Dropbox` and `DropboxTeam` in [Dropbox-sdk.min.d.ts](https://github.com/dropbox/dropbox-sdk-js/blob/02e4561745997ba7d10f4cef620ee5d6e58caf6f/generator/typescript/Dropbox-sdk.min.d.ts) and [DropboxTeam-sdk.min.d.ts](https://github.com/dropbox/dropbox-sdk-js/blob/02e4561745997ba7d10f4cef620ee5d6e58caf6f/generator/typescript/DropboxTeam-sdk.min.d.ts), respectiv

[2017-05-19 10:45] sidhuko commented on #114
Any updates on this @pran1990 ?

[2017-05-19 10:46] sidhuko commented on #64
@greg-db any news on this?

[2017-05-19 17:34] greg-db commented on #64
No, I don't have an update on this.

[2017-05-19 20:56] greg-db commented on #114
No update on this yet, unfortunately. We'll follow up here once we have progress on this.

[2017-05-21 11:39] florianbepunkt commented on #74
@greg-db can you give an update what's the current status of this? Is deleting files by ids supported?

[2017-05-22 10:26] chren-de-large opened #123 "Chrome extension, getAuthenticationUrl & Invalid redirect_uri"
Hi!

I am using "dropbox": "2.5.3" on node v7.8.0, chrome version 58

I have whitelisted my chrome extension URL in app administration, but when executing getAuthenticationUrl i always get Error 400 (Invalid redirect_uri)

In previous version of API i used chrome_oauth_receiver but that is probably out of date and i am unable to find any documentation for extension support. Thanks a lot!

[2017-05-22 17:18] greg-db commented on #74
The Dropbox API doesn't currently support file IDs for deleting files. This is still open as a feature request, but I don't have an update on it right now.

[2017-05-22 17:27] greg-db commented on #123
Hi @chren-de-large , this SDK wasn't built with explicit support for running in Chrome extensions, but we'll be happy to take a look at this issue to see how we can help.

First, can you share the URL you're getting from `getAuthenticationUrl` that isn't working for you? Thanks in advance!

[2017-05-22 19:11] chren-de-large commented on #123
Hi! Yes, exactly - those url is heading to those error 400

[2017-05-22 20:11] greg-db commented on #123
Can you post the actual URL value you're getting back from `getAuthenticationUrl` though? Thanks!

[2017-05-23 02:40] rymerrick commented on #120
Any idea when this will happen?  It seems to be impossible to find a complete example of uploading large files via js.  Rather frustrating.  thanks

[2017-05-23 09:45] chren-de-large commented on #123
https://www.dropbox.com/oauth2/authorize?response_type=token&client_id=s340kh3l0vla1nv&redirect_uri=chrome-extension://imloifkgjagghnncjkhggdhalmcnfklk

[2017-05-23 09:50] chren-de-large commented on #123
https://www.dropbox.com/oauth2/authorize?response_type=token&client_id=k1qq2saf035rn7c&redirect_uri=chrome-extension://imloifkgjagghnncjkhggdhalmcnfklk

[2017-05-23 14:58] vladejs commented on #120
hi @rymerrick , I have solved the problem, it only involves two steps:

1. Remove your account from Dropbox
2. Sign up on Amazon and use S3 (you can upload up to 5GB per request)

I am using it with 0 problem on my Meteor app.

[2017-05-23 15:42] rymerrick commented on #120
@vladejs HA I actually did go that route. Using blueimp jquery uploader and an S3 bucket.  BUT I have found it to be unreliable. Sometimes it works, sometimes not.   I would prefer to use dropbox (we have the account for other purposes anyway) so I am still hoping to find a working example. The non-large upload to dropbox was so easy!

[2017-05-23 16:50] greg-db commented on #123
I'm currently getting the following, different error message for this URL:

That indicates that you've set "Allow implicit grant" to "Disallow" for that app. You can switch that back via the [App Console](https://www.dropbox.com/developers/apps).

Please give that a try and let me know if you're still able to reproduce the `redirect_uri` issue.

[2017-05-23 20:05] greg-db commented on #120
@rymerrick No, I don't have a timeline/update for this request unfortunately.

[2017-05-24 03:35] chren-de-large commented on #123
Ou, yes - thats helps, i screw up the config there.
Now, i got error on redirect back due to Chrome security policy, i have to somehow attach that redirect to web_accessible_resources in manifest ... will explore more and write back

`Denying load of chrome-extension://imloifkgjagghnncjkhggdhalmcnfklk/#access_token=kpUWLsNM_…bearer&uid=484049575&account_id=dbid%3AAADngg4RY5thIBCOjThwAvFQZNC1PuWb96

[2017-05-24 08:40] chren-de-large commented on #123
ok, thanks for help :) would be great to have some chrome extension example for the future, but i understand that you have other priorities.

[2017-05-24 08:40] #123 closed

[2017-05-24 16:42] kennellink commented on #85
Hey @greg-db and @pran1990 , I hope all is well.  I just received a reminder from Dropbox that the v1 API is going away soon.  I have about a month, which is not long enough to completely rewrite to another SDK.  Is this SDK going to have longPoll working in the near near future so I can finish testing and finalize the upgrade?  If not, do you know who I would contact at Dropbox to extend access t

[2017-05-24 17:01] pran1990 commented on #85
Hey @kennellink, thanks for reaching out! I'm in the process of testing the
new backend, I'll update this thread when that is over. The change on your
side will be minimal (upgrading the SDK) at this point.

On Wed, May 24, 2017 at 9:42 AM, kennellink <notifications@github.com>
wrote:

--
Pranesh P
http://linkd.in/pran1990

[2017-05-24 17:03] greg-db commented on #85
We are reviewing requests for extensions to API v1 access though. If you'd like an extension for access to API v1, please open an API ticket:

https://www.dropbox.com/developers/contact

Please include:

- The app key(s) for the app(s) you need an extension for.
- The reason(s) for the extension.
- How long of an extension you're asking for.

[2017-05-24 20:06] pneyrinck commented on #114
Thank you for the update. The v1 API is set to stop working in 30 days. Can you please fix this immediately so we can have a smooth migration?

[2017-05-24 20:08] greg-db commented on #114
I don't have a timeline on this to offer, but I'll bring it up with the team again.

We are now reviewing requests for extensions to API v1 access though. If you'd like an extension for access to API v1, please open an API ticket:

https://www.dropbox.com/developers/contact

Please include:

- The app key(s) for the app(s) you need an extension for.
- The reason(s) for the extension.
- How long of

[2017-05-25 11:11] sidhuko commented on #114
@pran1990 or @greg-db to commit a fix for this within the repository we will need the secret for client_id: 42zjexze6mfpf7x which you use in your examples.

Is this possible?

[2017-05-25 15:34] bengourley commented on #118
I've been using (I believe successfully…):

[code]

[2017-05-25 15:51] bengourley opened #126 "JSON parse error thrown in RPC error handler"
Hello! 👋

We've been using this module in a production system and started to see these errors from about one week ago.

![image](https://cloud.githubusercontent.com/assets/609579/26457988/f3103754-4169-11e7-8080-ca25c369db88.png)

We're using v2.5.3, which we updated to 28 days ago according to our lockfile.
The system is a docker container built from node:6.9-alpine (so node v6.9).

The stack tra

[2017-05-25 16:17] tommck commented on #14
Since I'm trying to use this in a cordova application, I'd love to see JavaScript code for accessing an App Folder and not just regular dropbox files

[2017-05-25 18:09] greg-db commented on #114
@sidhuko In order to test anything that requires both an app key and secret, please plug in your own registered app key and secret during testing. Thanks!

[2017-05-25 18:17] greg-db commented on #14
@tommck I'm not sure I follow. Can you elaborate? Which [Dropbox API permission](https://www.dropbox.com/developers/reference/developer-guide#app-permissions) (e.g., "app folder" or "Full Dropbox") you app has doesn't affect how paths are supplied. For example, a path like "/Documents/resume.docx" identifies a file "resume.docx" inside a "Documents" folder.

The difference for app folder apps is t

[2017-05-25 18:22] tommck commented on #14
pardon my ignorance.  Is the access key how the API figures out where to put the files then?  If so, great

[2017-05-25 18:24] greg-db commented on #118
Thanks for sharing that @bengourley ! That doesn't seem to work for me though. The `err.status` is `429`, but `err.response.get('retry-after')` is undefined in my testing.

[2017-05-25 18:28] greg-db commented on #14
The "app key" identifies the app, and each app is registered to have a specific permission level. An "access token" identifies a particular app-user pair, and allows access to that user's account to the extent allowed by the app's permission. So, based on the app for the app key or access token, Dropbox knows where to put the files (i.e., in an app folder or not).

[2017-05-25 18:37] greg-db commented on #126
Thanks for the report! Have you been able to figure out how to reproduce this on demand by any chance?

In any case, if you can share the relevant code that would be helpful too.

[2017-05-25 18:40] tommck commented on #14
thanks for the description.  makes a lot of sense

[2017-05-26 08:27] bengourley commented on #126
We haven't been able to reproduce on-demand unfortunately. The errors appear to be transient.

The code is as follows: (`this._dbx` is a `new Dropbox({ accessToken: user.token })`)

[code]

So in summary we're using the api to list the entire contents of the Dropbox account, and also to respond to webhook changes, saving the cursor to track progress.

[2017-05-26 09:44] bengourley commented on #126
It looks like this would be the offending commit: https://github.com/dropbox/dropbox-sdk-js/commit/155cef7505b6b5a84844642f68dc68aab9ac37be

It is possible that our updated lockfile didn't make it into production until a week ago, which would explain why we only just started seeing the errors.

[2017-05-26 10:47] bengourley opened #129 "Error handling consistency/conventions"
I ran into this a while back and never raised it, but since I'm here and contributing to the error handling code (#128 #126 #118) I thought I'd bring it up now.

### Errors should be `instanceof Error`

I would have expected the errors provided in the `catch(err)` callback to have been `instanceof Error`, as is suggested by the [MDN docs for `Promise.reject(reason)`][1]:

Indeed the convention for

[2017-05-26 11:17] bengourley commented on #121
This would be fixed by #128.

[2017-05-26 12:31] sidhuko commented on #114
Sure, it was to leave example in PR though but this task is unfixable because the v2 API seems not to be working, even with the fix above. Keeps returning the app_token is invalid from the API even though its correct data.

[2017-05-26 20:30] greg-db commented on #126
Thanks!

[2017-05-26 20:30] greg-db commented on #129
Thanks! We'll take a look.

[2017-05-27 08:47] Le0Michine commented on #122
@greg-db sorry for the delay

It can't be imported as other dependencies, the following doesn't work

    import { Dropbox } from 'dropbox';

I tried different options but no of them is working for me, did I miss something? Can you help me with that?

[2017-05-27 08:50] Le0Michine commented on #122
in `index.d.ts` I see the following string:

    export = DropboxTypes.Dropbox;

so it looks like the only way to import the module is

    const Dropbox = require('dropbox');

but in this case I can't use advantages of `typescript`

[2017-05-29 18:24] greg-db commented on #122
Apologies, I'm not too familiar with ES6 modules/typescript myself. Can you elaborate on what changes we'd need to make to the Dropbox SDK to support this use case? I'll be happy to have the team take a look to see if we can support it. Thanks in advance!

[2017-05-30 15:58] #126 closed

[2017-05-31 13:41] chren-de-large commented on #129
would be very nice to see error handling in some /example

[2017-06-01 07:44] sidhuko opened #131 "Replace superagent with fetch"
Working on PR for #64 which involves handling form submissions to oauth2 endpoints (oauth2/token) as it accepts form data but seem to return json which throws an internal error in superagent v1. This would also block server-side authentication issues such as #117.

I was looking into upgrading superagent but toward the goal of being a UMD module the minimalist solution is replacing superagent with

[2017-06-01 07:50] sidhuko opened #132 "Missing sidemenu in mobile version"
In mobile the documentation sidebar menu with links to methods is not visible.

[2017-06-02 12:58] Le0Michine commented on #122
@greg-db I will investigate it, sorry for the delay with answer

[2017-06-05 11:21] chren-de-large opened #135 "check Auth state without opening popup"
In previous version of DB.js API was able to call from `client.authenticate({interactive: false,})` and check via `client.isAuthenticated()` if user is authenticated even without opening any window/popup ... is there any way how to manage it now?

If i refresh my app and clear the state (therefore lost accessToken), is there any solution how to regain authToken if i am logged in Dropbox?

I am tal

[2017-06-05 21:33] greg-db commented on #135
The new SDK works a little bit differently, so there isn't a direct equivalent. With the new SDK, you should just check if you have an access token or not.

The old SDK automatically stored the access token for you, but the new one doesn't, so you should make sure to do so, e.g., using local storage.

If you don't have an access token stored, you will need to send the user through the app authoriz

[2017-06-05 21:33] #135 closed

[2017-06-05 21:49] chren-de-large commented on #135
Yes, i see ... thanks for reply!

[2017-06-05 22:05] greg-db commented on #131
Thanks for writing this up James!

@pran1990 Can you offer some guidance here as to whether or not that would be acceptable?

[2017-06-05 22:05] greg-db commented on #132
@sidhuko Can you share a screenshot showing the issue, so we can make sure we understand what you're seeing?

If you're referring to https://dropbox.github.io/dropbox-sdk-js/ , it does appear the sidebar on the right doesn't show on mobile, but those links only link to sections of the same page anyway. The rest of the links, e.g., Classes and Global, are available via the menu button in the top ri

[2017-06-06 06:07] dustinbolton opened #136 "Request support for generating a bearer token from access code via API endpoint oauth2/token"
The "code" authentication flow requires converting the provided "authorization code" to get an access  token by calling the endpoint https://api.dropboxapi.com/1/oauth2/token.

See "Code Flow" under https://www.dropbox.com/developers/documentation/http/documentation#oa2-token

Is this something that could be added in soon? It appears this entire flow cannot be realized without this.

Thanks!

[2017-06-06 07:17] digitalagency commented on #120
is the sample to upload large file via js made, its been a long time now, please help

[2017-06-06 09:57] sidhuko commented on #122
@greg-db @Le0Michine I've fixed this issue by exposing the jspm/module property and compiling an ES directory. Available on forked branch:

https://github.com/sidhuko/dropbox-sdk-js/tree/rollup

I will raise this as a PR but it involves changes which will effect existing users so will need to update some documentation as well and I think I would it would be best to include a PR #64 when it's avail

[2017-06-06 12:32] sidhuko commented on #122
Builds fail for node v0.12 and below because cross-env doesn't support below v4. This is fairly common nowadays but depends whether you want to continue support for 0.12 and 0.10.

https://travis-ci.org/sidhuko/dropbox-sdk-js

@greg-db could your confirm dropbox's position?

[2017-06-06 15:55] chren-de-large commented on #85
Longpoll still 501 (Not Implemented) -  any ETA please?
Would be really nice with some advance against the v1 deprecation ...

[2017-06-06 17:17] greg-db commented on #136
Thanks for the request @dustinbolton ! I can't make any promises, but we're tracking this as a feature request. There's already an open issue requesting this, so I'll close this one in favor of: https://github.com/dropbox/dropbox-sdk-js/issues/136

[2017-06-06 17:17] #136 closed

[2017-06-06 17:18] greg-db commented on #120
@digitalagency No, unfortunately I don't have a sample to share for that.

[2017-06-06 17:21] greg-db commented on #122
Thanks for putting that together @sidhuko !

@pran1990 Can you confirm whether or not that would be acceptable?

[2017-06-06 17:23] greg-db commented on #85
I don't have an update on this yet unfortunately. We'll follow up here once we do.

[2017-06-06 21:12] lgrrealag commented on #120
There might be a better way to solve this but here is how I solved it. It seemed the only way to get Dropbox to not error on a large upload was to upload each part one at a time running the function recursively. I am by no means a Javscript expert but this has been working for us on file uploads as large as 900mb.

[code]
If there is a way to make this more efficient or faster would love to know.

[2017-06-13 13:02] sidhuko opened #138 "Cannot require DropboxTeam with CommonJS"
Another issue related to the loading of the CJS module on the main property of the package.json in current release (2.5.4). The documentation suggests to load the DropboxTeam below:

[code]
Which returns an error because the actual path is dropbox/src/team.

[code]

I've struggled putting together the PR #137 because of similar issues within the repository where build and distributable processes a

[2017-06-13 16:30] greg-db commented on #138
Thanks for writing this up James!

[2017-06-14 01:38] nicholaswmin opened #139 "Attempts to download a >1GB files fail"
## Steps to reproduce

- Attempt to download a large ~1GB file using `dropbox.filesDownload()` method

## Expected Result

- File gets downloaded fine.

## Actual Result

- A V8 memory error is logged and the download fails:

## Logs

[code]

## Notes

AFAIK `RangeError: Invalid string length` is a V8 out-of-memory error. It basically complaints that a string's length is too long. Perhaps `res.on(

[2017-06-14 03:04] pran1990 commented on #139
Thanks!

On Jun 13, 2017 6:38 PM, "Nicholas Kyriakides" <notifications@github.com>
wrote:

[2017-06-14 14:13] nicholaswmin commented on #139
## An alternative solution:

What we can do to circumvent this limitation is to grab a temporary download link for that particular file, and then issue a `GET`, using `https` to *stream* the download into a file.

The problem with the "native" `dropbox.filesDownload()` method is that the response accumulates as a binary string on `res.text`. Streaming the file ameliorates that.

[code]

[2017-06-15 10:45] sidhuko commented on #139
@pran1990 duplicate of #101 and the PR #137 could update download-request.js and upload-request.js to return the Response object rather than buffered body. The Response object returns the stream (node-fetch) and has standardised methods to return different types of data, i.e. res.blob(), res.arrayBuffer() and res.json(). It also has properties for determining the response type (res.ok) and limitin

[2017-06-16 06:19] stevemao opened #140 "Why does it return me a `#` instead of `?` for query string"
The url it redirects me contains a hash `#` instead of a question mark `?` for the access_key. `https://myredirect.com#access_token=I4vx1B...` won't be parsed on API Gateway. however, the standard (more common) way to do it is `https://myredirect.com?access_token=I4vx1B...`. Is there any recommended way to handle this?

[2017-06-16 12:42] stevemao commented on #140
you can handle that with client-side JS and redirect somewhere else

This means I can't use OAuth on the server side (or lambda which I'm using)

[2017-06-16 18:42] greg-db commented on #140
Hi @stevemao , this is a difference between the OAuth 2 "token" flow (i.e., using "#"), and the "code" flow (i.e., using "?").

This SDK currently only supports the token flow, but we're tracking this as a feature request for support for the code flow. There's already an open issue requesting this, so I'll close this one in favor of: https://github.com/dropbox/dropbox-sdk-js/issues/64

[2017-06-16 18:42] #140 closed

[2017-06-17 22:37] stevemao commented on #64
@b-dur your module works well for me. Why don't you submit a PR to this one to add the functionality here? 😄

[2017-06-21 15:47] AlesMenzel commented on #80
@greg-db Thanks for the example, but:
A) What is the **recommended file chunk size** (lets say i want to upload 3GB movie to my dropbox)
B) Why is the **filesUploadSessionAppendV2 endpoint so ridiculously slow** (appending 64KB in ~5sec)

[2017-06-21 18:14] greg-db commented on #80
Hi @AlesMenzel :

A) There isn't a particular recommended chunk size, as the optimal value will depend on various factors, such as the network connection itself. A bigger size is more efficient in general, but it increases the risk of any particular request failing. And if a request fails, you need to re-upload all of the data for that request again. A smaller size reduces how much you would need

[2017-06-21 19:39] AlesMenzel commented on #80
@greg-db
Thank you for your response.
**I have made a repository to demonstrate.**

**Summary:**
I have a readable stream that goes through a transformation stream (which buffers up data, `/src/transform.js`) and then passes it to dropbox upload stream (`/src/dropbox.js`) that runs the session dropbox API internaly.

Repository: https://github.com/AlesMenzel/dropbox-session-test

**IMPORTANT prere

[2017-06-21 19:58] greg-db commented on #80
@AlesMenzel Have you tried with a larger chunk size, e.g., 8 MB? (You last mentioned 64 KB.)

In any case, this is now getting off topic for this issue, so if you're still seeing very slow performance for these calls, please [open a new issue](https://github.com/dropbox/dropbox-sdk-js/issues/new) with this information. (That way we don't keep spamming everyone else here.) Thanks!

[2017-06-21 20:00] AlesMenzel commented on #80
Yes, the repo is sending 8MB chunks which takes ~45s to upload.

[2017-06-21 20:04] AlesMenzel opened #141 "Session API slow to upload a chunk"
**I have made a repository to demonstrate.**

**Summary:**
I have a readable stream that goes through a transformation stream (which buffers up data, `/src/transform.js`) and then passes it to dropbox upload stream (`/src/dropbox.js`) that runs the session dropbox API internaly.
**Sending 8 MB chunks which takes about ~45s to upload.**

**Repository**: https://github.com/AlesMenzel/dropbox-session

[2017-06-21 20:05] AlesMenzel commented on #80
Moved the issue to a separate thread at #141.

[2017-06-21 21:14] greg-db commented on #141
Thanks for putting this together!

I just ran that with a 10 MB sample file at ./samples/sample-10MB.mp4 though, and it consistently ran in about 8 seconds for me. That being the case, it sounds like variation in network connection is likely the cause here.

Your connection speed to Dropbox depends on the routing you get between your ISP and our servers, and may be slower than your ISP's rated spe

[2017-06-21 21:14] #141 closed

[2017-06-22 08:10] AlesMenzel commented on #141
@greg-db
Thank you for your answer. I am going to try from a different device.
One more question though about the Session Upload API. **Can I be uploading multiple chunks at once?** As there is the cursor: offset property that corresponds to total uploaded size.

**Example:**
Session Start -> upload 8 MB -> offset 8 MB
Session Append -> upload 8 MB -> offset 16 MB
Session Append -> upload 8 MB ->

[2017-06-22 08:19] AlesMenzel commented on #141
Similarly Twitter Session API lets you do that: https://dev.twitter.com/rest/reference/post/media/upload-append.html by specifiing chunk index instead of length.

[2017-06-22 10:54] AlesMenzel commented on #141
Anyways seems like i will have to change a provider as paying for Dropbox Plus is not worth for my use case as Dropbox API is just too slow (even your runs prove my point - 10MB/8s is outrageous in 2017).

Comparison with Google Drive:
Upload:
**Dropbox:** 1.5GB file = ~ 20min
**Google Drive**: 1.5Gb file = ~ 3min

[2017-06-22 20:44] greg-db commented on #141
Thanks for the feedback!

And no, you can't upload multiple chunks for a single upload session in parallel. They have to be uploaded sequentially. (You can run multiple upload sessions, i.e., for different files, at the same time though. Check out the [data ingress guide](https://www.dropbox.com/developers/reference/data-ingress-guide) for information on how to do that.)

[2017-06-27 10:06] IagoSRL commented on #67
I would like a migration guide like the requested here.

Too, how to adapt code that uses the AuthDrivers Popup and Cordova. For example, there is an `authenticateWithCordova` that seems to replace the Corvoda AuthDriver, but there is no an `authenticate` or equivalent for the Popup AuthDriver. Didn't find references to this in docs.

thanks

[2017-06-27 15:08] ralphholzmann commented on #114
Running into this myself too -- going to have to build the request by hand for now. Would really like to see this fixed tho.

[2017-06-27 16:21] pran1990 commented on #114
@ralphholzmann thanks for the example snippet. I'll look into why the sdk's function breaks.

[2017-06-27 18:36] greg-db commented on #67
Thanks for the request @IagoSRL . I'm sending it along to the team.

[2017-06-27 19:09] sidhuko commented on #114
You've a PR with a fix that you've not commented on. I'm going to have to release another alt library as our deadline draws closer...

[2017-06-28 16:32] ralphholzmann commented on #114
@pran1990 i think its as simple as there's no (documented) way to authorize at the "app" level

[2017-06-28 17:23] greg-db commented on #115
Closing this as #117 was merged.

Documentation can be found here:

https://github.com/dropbox/dropbox-sdk-js/blob/master/docs/README.md#authentication

[2017-06-28 17:23] #115 closed

[2017-06-29 09:05] 4ewout commented on #114
I am really wondering why fixing this is taking so long since I already supplied the fix in my bug report 3 months ago... All you guys have to do is implement the "app" authentication method in rpc-request.js as described in the Dropbox API docs (see https://www.dropbox.com/developers/reference/auth-types, "App authentication"). The `case "app": ...` code I supplied in my bug report should be adde

[2017-06-29 10:26] sidhuko commented on #114
You’d need to include a btoa polyfill for node.js too, or, detect type of env and use Buffer for node.js runtime.

I agree though. Seeming most of dropbox business is integrations this is shocking. I’m recommending my client completely removes this integration for an alternative solution.

[2017-06-29 11:49] prusnak commented on #85
This is really critical for our applications. Glad that you postponed the depreciation date, but we would love to see this implemented in new API.

[2017-06-29 14:55] pran1990 commented on #85
Hi pavol, when our fix for this issue is ready, I expect it to be a noop
(except for removing workarounds). That fix is not tied to the deprecation
date.

On Jun 29, 2017 4:49 AM, "Pavol Rusnak" <notifications@github.com> wrote:

[2017-06-30 17:08] greg-db commented on #114
Thanks for the feedback everyone, and apologies for the delay.

[2017-07-02 15:14] ralphholzmann commented on #114
Unsure what the browser support target is for this project, but `atob`/`btoa` are [well supported everywhere](https://caniuse.com/#feat=atob-btoa) except IE9 and below. Node has the buffer conversion as well. Not sure a polyfil would be required.

[2017-07-04 10:23] dprof-johan opened #142 "How to take the step from auth example to getting a "re-useable access token""
Hi,

This is not a bug, but a request for an extension to the auth example (https://github.com/dropbox/dropbox-sdk-js/tree/master/examples/typescript/auth) .

The Auth documentation here: https://www.dropbox.com/developers/reference/oauth-guide mentions that for web applications I should be using the authorization code that I can get by using the auth example (I use the TypeScript one) in order to

[2017-07-04 17:19] greg-db commented on #142
The "authorization code" itself is a temporary, single-use string, so you wouldn't store and re-use it. You would exchange it once for an "access token". The access token would then be stored and re-used.

Anyway, the OAuth guide you're referring to is written more for server-side apps, using the "code" flow (described int he paragraph above). Client-side apps, such as apps running in JavaScript i

[2017-07-04 17:19] #142 closed

[2017-07-04 20:00] dprof-johan commented on #142
Ah!

So in the typescript auth example that is the access token that I can then save indefinitely for getting access to the dropbox account?

That's great!

Thanks

[2017-07-05 15:33] greg-db commented on #142
Yes, that's correct.

(Also, note that while the access token doesn't expire, users can manually revoke them of course.)

[2017-07-22 23:27] jvilk opened #144 "`user_message` missing on errors?"
**Version:** 2.5.7

*Background: I'm finally trying to convert my [BrowserFS](https://github.com/jvilk/browserfs) backend for Dropbox from the V1 API to the V2 API.*

A failed call to `filesDelete` results in an `Error` object that contains the `error_summary` and `error` fields, but is missing the `user_message` field ([described in docs here](https://github.com/dropbox/dropbox-sdk-js/blob/f36448

[2017-07-22 23:29] jvilk commented on #144
Further background: The specific call I'm doing is `client.filesDelete({ path: '/' })`, which results in an error -- probably because deleting the root of an appdir isn't supported / sensible. :)

[2017-07-22 23:30] pran1990 commented on #144
Thanks for reporting!

On Jul 22, 2017 4:27 PM, "John Vilk" <notifications@github.com> wrote:

[2017-07-23 00:09] jvilk opened #145 "`error` property on `Error` object is sometimes a string"
**Version:** 2.5.7

[The `error` property on `Error` objects is supposed to be an object.](https://github.com/dropbox/dropbox-sdk-js/blob/f36448fb6aa7e0bf49b8285556d2d86a13baa545/src/types.js#L6) However, it is sometimes a string.

In addition, both the `user_message` and `error_summary` fields are missing on the [`Error` object](https://github.com/dropbox/dropbox-sdk-js/blob/f36448fb6aa7e0bf49b82

[2017-07-23 00:21] jvilk commented on #145
Here's another example for create folder. `e.error` is the following string:

[2017-07-23 00:34] jvilk opened #146 "`error` property on `Error` object is sometimes a nested `Error` object"
**Version:** 2.5.7

Here's an error I just received for calling `get_metadata` on a file that does not exist:

[code]

**Expectation**:

`e.error` is a `GetMetadataErrorPath` with the following structure:

[code]

Also, `e.error_summary` is a text summary of the error.

**Actual Result**:

* `e` is missing `error_summary`.
* `e.error` appears to be a half-`Error` object. It has an `error_summary`

[2017-07-23 00:43] jvilk commented on #146
This is really bad. BrowserFS needs to map Dropbox error codes to POSIX-like file system error codes, so it's important that I know *why* these requests fail. I currently have to add hacks to extract the object I need.

[2017-07-23 00:47] pran1990 commented on #146
Thanks for reporting @jvilk . There were a couple of pull requests around the returned error objects, I'll look if that broke anything.

[2017-07-23 01:40] jvilk commented on #145
Another, from `filesUpload` (this is a string, not an object):

[2017-07-24 15:49] greg-db commented on #144
Apologies for the confusion. This field is optional (e.g., per [the HTTP documentation](https://www.dropbox.com/developers/documentation/http/documentation#error-handling)). We'll get that clarified in the JavaScript SDK documentation as well. Thanks!

[2017-07-24 15:49] greg-db commented on #145
Thanks for the report!

[2017-08-07 16:00] anishtimila commented on #80
Need some help running this code in AWS Lambda function. Can any on help me please?
I tried it and just got an error "Handler 'handler' missing on module 'index'" on the cloud watch.

[2017-08-07 16:28] greg-db commented on #80
@anishtimila It sounds like this isn't an issue with the Dropbox library, so I'm afraid I can't be of help. Perhaps someone else here happens to know. Otherwise, you may be better aided on another forum, e.g., for AWS or node in particular. There's [a post on StackOverflow](https://stackoverflow.com/questions/37117274/aws-lambda-function-is-returning-handler-handler-missing-on-module-index) that m

[2017-08-09 10:52] robhaswell commented on #118
I can confirm that @bengourley's approach is not working on dropbox@2.5.2:

[code]

[2017-08-09 12:01] robhaswell commented on #118
`err.retry_after` is working for me.

[2017-08-15 02:16] BobDickinson opened #147 "npm package missing webpack config files"
Because the webpack config files are not including in the "files" specification in package.json, you cannot  run the npm build task (something I need to do for reasons of my own) without getting them out of band.  Right now I just pull these files from the repo, but it would be nice if they were included in the package.

The files are I'm referring to are:

    webpack-umd.config.js
    webpack.co

[2017-08-15 02:39] pran1990 commented on #147
Thanks for reporting!

Would you like to open a Pull Request with the changes?

[2017-08-15 16:44] romperalph opened #148 "Dropbox in my Angular-cli project"
Hi,

I'm trying to use Dropbox-SDK in an Angular (4) CLI project. But I missed some steps.

1) `npm -i dropbox`

2) In my angular-cli.json, I add it inside Script list:

[code]
3) In App.component.ts, I add this code:

[code]

The error is:

I was trying to import it in the component without success. Any idea?

Thanks

[2017-08-15 19:04] #147 closed

[2017-08-15 19:38] greg-db commented on #148
Thanks for the report! The SDK doesn't officially support Angular right now, but we're looking into it. I'm closing this in favor of this earlier issue about importing the library: https://github.com/dropbox/dropbox-sdk-js/issues/122

[2017-08-15 19:38] #148 closed

[2017-08-16 15:08] OtisDave commented on #74
Would be nice to have this.

[2017-08-16 19:56] greg-db commented on #74
The API and SDK have been updated to support file IDs for these endpoints. Just pass in the id string in the `path` parameter. Hope this helps!

[2017-08-16 19:56] #74 closed

[2017-08-20 20:09] BobDickinson commented on #85
So filesListFolderLongPoll was reported broken 9 months ago, is not fixed, and has no fix in sight.  There is no unit test for it, so it's not clear if it was ever tested or if it ever worked.  Am I missing something?  As someone new to this SDK and assuming it was generally stable, that's pretty disconcerting.

[2017-08-21 07:11] gildas opened #150 "support proxy settings"
Since you guys use superagent for your http requests, why not adding proxy support?

I have customers that allow outbound traffic only through their proxy. Which means, they cannot use Dropbox with my code at the moment.

Basically, just use superagent-proxy like this:

[code]

The `proxy` parameter should be configured in the Dropbox constructor.

Thoughts?

[2017-08-21 17:55] greg-db commented on #150
Thanks for writing this up! I can't make any promises, but I'll send this feature request along to the team.

[2017-08-21 21:00] gildas commented on #150
Thanks @greg-db
If you want I am happy to work on a PR.

[2017-08-21 21:02] greg-db commented on #150
We always appreciate pull requests! Thanks!

[2017-08-21 21:04] gildas commented on #150
Ok, I'll see what  I can do within the next few days.

[2017-08-22 15:49] gildas commented on #150
Here you go @greg-db, PR #151.

[2017-08-22 15:50] greg-db commented on #150
Thanks Gildas!

[2017-08-22 15:53] gildas commented on #150
No problem.
Though, it seems like the travis ci job keeps failing.

[code]

I am afraid the eslint config is too strict for the external superagent-proxy module.

[2017-08-22 15:55] greg-db commented on #150
Thanks, we'll take a look.

[2017-08-22 15:55] gildas commented on #150
thanks a lot!

[2017-08-22 15:56] gildas commented on #150
I should be around for an hour more or so (I am in Japan, so it is late here)

[2017-08-23 00:38] BobDickinson commented on #139
I'm not sure I agree that this is a dupe of #101 (though certainly a streams-based solution should handle upload and download).  I don't have a problem with lack of stream support on upload, since I'm doing multipart upload on anything over 8Mb, and that doesn't cause any heartburn.  But not being able to download large files (due to lack of stream support) is kind of a deal killer.  I also don't

[2017-08-23 01:25] BobDickinson commented on #80
The @greg-db sample code looks right to me.  If you want to see some working code, our app includes an upload function that handles single or multiple files, and does multi-part (session-based) uploads on files larger than a specified max chunk size.  It does these operations in serial, allowing you to show progress and cancel if desired.  If interested, take a look at: https://github.com/SynchroL

[2017-08-23 06:07] sidhuko commented on #139
You wouldn't add stream uploads and not downloads. No contributor from Dropbox looks after this repo - might as well be depreciated - just use the fetch lib and your own wrapper to use the generated routes file in this lib from Stone.

[2017-08-23 06:14] BobDickinson commented on #101
Just to be absolutely clear on this, stream support is also required for filesDownload().  At least with upload you have the potential to use multi-part upload to make large files work.  With download there is literally no way to handle a large file with the current API.

[2017-08-23 06:20] BobDickinson commented on #139
Fair enough.  I guess the description "streams" in #101 followed by a conversation of a few posts talking about upload didn't necessarily convince me that download was assumed (particularly given that the inability to handle large files via streams in either direction doesn't really inspire confidence in how the original implementors might go about addressing this).

My original assumptions coming

[2017-08-23 06:21] BobDickinson commented on #139
And certainly no offense is intended to anyone not being paid by Dropbox that's trying to make this SDK better.

[2017-08-23 13:41] hoverb opened #152 "global Promises overwritten by es6-promises"
The version of es6-promise you are using has an issue where it overwrites global.Promise (see issue : https://github.com/stefanpenner/es6-promise/issues/140).
It is fixed in version 4.x.x (https://github.com/stefanpenner/es6-promise/pull/230).

Dropbox version : 2.5.7 ( & es6-promise : 3.3.1)

[code]

Would it be possible to update the es6-promise dependency to a newer version to avoid this behavi

[2017-08-23 13:55] pran1990 commented on #152
Thanks!

On Aug 23, 2017 6:41 AM, "Beckett" <notifications@github.com> wrote:

[2017-08-23 16:40] greg-db commented on #101
Thanks for the feedback!

[2017-08-23 16:40] greg-db commented on #139
Thanks for the feedback! I'll send this along to the team.

[2017-08-23 16:56] BobDickinson commented on #139
At least for Node.js, this is a very easy fix.  There's a bunch of code in download-request.js that is building the giant string.  If you just eliminated that code and returned the res object from SuperAgent, then the caller would have a streamable object that they could either pipe or gather themselves into a string/blob in a few lines of code.  And that is exactly how any Node developer would ex

[2017-08-23 18:21] hoverb commented on #152
If needed, I would be happy to work on a PR for this.

[2017-08-24 07:03] sidhuko commented on #139
Yeh that would be unsupportable as a UMD package. The only option for native browser features and streams for node is the Fetch API.

I think the team instead of the project manager should probably trying to deduce what is right for users and Dropbox. I only see you guys doing what could be automated with Travis CI and posting updates rather than trying to deduce a reasonable solution design from

[2017-08-24 07:22] BobDickinson commented on #139
My point was really just that the API is poorly designed and should return a readable stream instead of a chunk of data (string/blob).  Whether that readable stream is in fact a Superagent response object, or a Fetch response body ReadableByteStream doesn't really matter (in terms of the API definition).  It's just a stream that can be handled the way you would expect (you can pipe it or accumulat

[2017-08-24 18:49] greg-db commented on #152
Merged #153 .

[2017-08-24 18:49] #152 closed

[2017-08-29 01:55] LeoMeng1 opened #154 "Authorization of the web development problems"
I want a similar Google that look like small Windows authentication but not to jump to a new page, and I use the vue. Js.And dropbox jump back path does not support path there is  #  but vue router must be, what should I do

[2017-08-29 14:55] greg-db commented on #154
@LeoMeng1 I'm not sure I understand your question. Can you elaborate? Please feel free to share any code, output, screenshots, etc. that may help illustrate. Thanks in advance!

[2017-08-31 07:00] kksharma1618 commented on #101
Hey,

I needed streaming upload support for dropbox, so I wrote a library for it https://github.com/kksharma1618/dropbox-streaming-upload

Seems to be working fine for me so far.

[2017-09-01 21:17] paulodiovani commented on #101
@kksharma1618 I can't see the point of having stream support if we can't pipe:

[code]

[2017-09-01 21:28] kksharma1618 commented on #101
Pipe won't work here because we have to divide the stream's data into different chunk upload (/upload_session/append_v2).

You can just as easily do this:
[code]
upload function will pipe your stream internally. If it's basic upload then stream is piped directly to request. If it's a chunked upload, then it will split the stream into smaller streams, and pipe each of them to /upload_session/append

[2017-09-04 12:24] chren-de-large commented on #85
API v1 cutoff date until September 28th, 2017 ???
great, just still missing a few basic functions! Please, fix it at least a few weeks before deadline, we need to test our apps as well before cutoff.

[2017-09-05 14:40] greg-db commented on #85
Work on this is still in progress. If you need an extension for access to API v1 please refer to [this comment](https://github.com/dropbox/dropbox-sdk-js/issues/85#issuecomment-303788050) for instructions for requesting one.

[2017-09-13 02:43] groovymarty commented on #139
@BobDickinson, did you change your fork to pass back the readable stream?  I'd like to see how you did it.

[2017-09-13 04:21] BobDickinson commented on #139
@groovymarty - I did make a local change to test it, but never committed.  Frankly, I'm pretty disappointed by this library and am about ready to abandon it (maybe just write my own shim to call the REST API endpoints directly).  As I've said above, this library seems poorly designed, even more poorly tested, buggy, and pretty much abandoned by Dropbox (if they ever even did support it).

That bei

[2017-09-15 06:01] nonnoiibaimint opened #155 "Nonnoiibaimint89@gmail.com"
Nonnoii

[2017-09-15 06:01] nonnoiibaimint commented on #155
Non

[2017-09-15 06:54] #155 closed

[2017-09-15 06:57] pran1990 commented on #150
Hey @gildas we should be able to close this when I make a new release in a few hours. Let me know if you disagree.

[2017-09-15 14:02] groovymarty commented on #139
@BobDickinson - Thanks for the suggestion.. but piping the superagent's response did not work for me.  According to [this SO answer](https://stackoverflow.com/questions/38478034/pipe-superagent-response-to-express-response) you're supposed to pipe the superagent request instead.

But that didn't work either; for some reason a chunk of data at the beginning of my file was always missing.  And super

[2017-09-19 09:58] vincent-cm opened #156 "Several errors when upgrading from 2.5.7 to 2.5.8"
Errors are shown after upgrading angular from 4.4.1 to 4.4.2
Following is the first line error when trying to bootstrap angular2 app

[code]

[2017-09-19 14:58] roecrew commented on #156
Similar issues here.

[2017-09-19 15:00] pran1990 commented on #156
Thanks fo reporting. I'll look in a bit

On Sep 19, 2017 7:58 AM, "Brandon Barber" <notifications@github.com> wrote:

[2017-09-19 15:41] roecrew commented on #156
#151 may be the cause.

[2017-09-19 15:48] greg-db commented on #156
@vincent-cm @roecrew The API v2 JavaScript SDK doesn't officially support Angular unfortunately, but we'll consider it a feature request. That being the case, I'm afraid we can't offer much help here.

Looking at the error though, it seems to be indicating that the `dns` module (which is required by `pac-resolver`, used for the proxy support per #151 as you mentioned) wasn't found. I believe that

[2017-09-19 15:49] #156 closed

[2017-09-19 15:53] roecrew commented on #156
@greg-db
I was specifically getting promise errors.
I'm not using angular.

[2017-09-19 15:56] greg-db commented on #156
@roecrew The 'Promise' error is a separate and known issue with the latest release that we're looking into.

[2017-09-19 15:59] roecrew commented on #156
@greg-db Thank you for the quick response!
If there's anything I can do to help please let me know (this is breaking some of my companies drag and drop features)!

[2017-09-19 16:14] pran1990 commented on #156
@roecrew Can you check if 2.5.9 helps? Like you pointed out, #151 was breaking some stuff.

[2017-09-19 16:24] roecrew commented on #156
@pran1990 @greg-db
Checking now

[2017-09-19 16:25] roecrew commented on #156
@pran1990 @greg-db

2.5.9 seems to have solved the problem!

[2017-09-19 16:31] pran1990 commented on #156
Ha, thanks for confirming. Apologies for the trouble, I'll add the commits in #151 more carefully next time.

[2017-09-21 13:56] greg-db commented on #85
This should be working now. Please let us know if you're still seeing any issues.

[2017-09-21 13:56] #85 closed

[2017-09-24 16:57] acornejo opened #157 "add api to allow upload progress monitoring"
This is fairly straightforward to do with superagent (which is used by this sdk).

[code]

Thus just need to change the API to allow the user to specify a progress callback.

[2017-09-25 15:23] greg-db commented on #157
Thanks! I'll send this request along to the team.

[2017-09-26 04:00] danactive commented on #129
Any improvements regarding consistent errors are appreciated. They should be marked as a breaking change. The error structure is so inconsistent that a refactor and testing will be needed after the proposed structural changes

-=Dan=-

[2017-09-26 16:12] greg-db commented on #129
Thanks for the feedback!

[2017-09-27 06:09] danactive opened #158 "Security advisory for superagent dependency"
[Large gzip Denial of Service](https://nodesecurity.io/advisories/479) advisory by node security. The likely solution is to replace superagent with fetch, see issue #131

-=Dan=-

[2017-09-27 17:56] greg-db commented on #158
Thanks for letting us know Dan!

[2017-09-27 18:11] danactive commented on #158
Another solution is to patch the superagent module. Another npm security site is linking to the open issue with superagent
Source [Snyk](https://snyk.io/vuln/npm:superagent:20170807)

[2017-09-28 06:07] danactive commented on #158
**2nd security vulnerability: high alert**
[Regular Expression Denial of Service](https://nodesecurity.io/advisories/535) advisory by node security found in superagent dependency *mime*

[2017-09-28 13:14] greg-db commented on #158
Thanks again Dan!

[2017-09-30 17:56] oricou opened #159 "a way to stop upload"
Hi,

I couldn't find a way in the SDK to stop an upload. I saw it is not included in promise in JS however I have seen this trick:

[code]
which is used this way:

[code]
see https://stackoverflow.com/questions/30233302/promise-is-it-possible-to-force-cancel-a-promise

I begin in Javascript so I don't dare to change myself the SDK... Do you think you could add this feature?

Olivier.

[2017-10-02 17:45] greg-db commented on #159
Thanks for the request! I'm sending this along to the team, but I can't promise if/when it would be implemented.

[2017-10-03 19:43] kennellink commented on #111
P.S.  I found the same text/hint for eliminating pre-flights in the Dropbox API v2 documentation near the top under Request and response formats | Browser-based JavaScript and CORS pre-flight requests.  It looks like pre-flights are adding almost 1/4 second (on average) to each API call.

[2017-10-06 12:10] rafaellop opened #160 "filesDownload and no fileBlob or fileBinary"
I'm using Cordova + AngularJS. When I try to read the filesDownload response value I've got the metadata available except the fact the fileBlob and fileBinary fields are undefined. Finally I solved this by using filesGetTemporaryLink() and downloading the link with some cordvoa plugin, but I would prefer to use the API method.

[2017-10-06 17:17] greg-db commented on #160
Unfortunately, the SDK doesn't explicitly support Angular/Cordova, so I'm afraid I don't have a good solution to offer. For reference though, it sounds like this is essentially the same issue as #82, so you may want to [try the workarounds I mentioned](https://github.com/dropbox/dropbox-sdk-js/issues/88#issuecomment-268621060) in #82. I'll send this along as a request for explicit Angular/Cordova

[2017-10-06 17:17] #160 closed

[2017-10-08 04:14] acornejo commented on #131
fetch is a web standard, superagent is not. there are multiple issues with using superagent (including security issues, as pointed out in #158). Are there plans to migrate this library away from superagent?

[2017-10-08 18:50] pneyrinck opened #162 "Incomplete Documentation For filesGetThumbnail"
The docs do not describe how the thumbnail data is returned. Via debugging I see a string property named fileBinary. The docs have no mention of this property anywhere.

[2017-10-09 08:37] sidhuko commented on #131
🍰 wow this cake is tasty, so the PR submitted was also a fix for the SVE, what is going on at dropbox @greg-db?

[2017-10-09 16:49] greg-db commented on #131
Thanks for following up, and apologies for the delay. We're planning on working on this soon.

[2017-10-09 17:41] greg-db commented on #162
Thanks for pointing that out! Using `fileBinary` is the correct way of accessing the resulting data in node. (In the browser, it's `fileBlob`.) I'll ask the team to add this to the documentation.

[2017-10-10 10:19] sidhuko commented on #131
@greg-db do you need help from the many people with vested interests in this? I'm available by Skype in US timezones to discuss some of the issues in depth. You should have my email already.

[2017-10-10 13:33] greg-db commented on #131
Thanks for the offer! I'll send that along to the team.

[2017-10-10 19:26] greg-db commented on #157
@nikshepsvn Sure, we welcome pull requests.

[2017-10-10 19:30] pran1990 commented on #157
@nikshepsvn thanks for offering, if you were. One thing I'd like to warn you about is that we are moving to fetch soon, so a change dependent on superagent might be really short-term for you.

[2017-10-11 16:40] kennellink opened #163 "Window focus required for filesListFolderLongpoll"
I have found that the browser window executing a filesListFolderLongpoll must have focus for the longpoll to complete.  When another program or browser window has focus, longpoll will not complete until its own window gets focus.  I'm not sure about different tabs in the same browser window.

It's been reported by customers that it's also sluggish and sometimes fails to complete even when the wind

[2017-10-11 17:08] pran1990 commented on #163
Thanks for reporting kennellink.

[2017-10-11 21:16] greg-db commented on #163
@kennellink What browser(s)/operating system(s) are you seeing this with? I can't seem to reproduce this with Chrome, Safari, or Firefox on macOS.

[2017-10-11 23:39] kennellink commented on #163
Hi @greg-db  Sorry I didn't include this in the original post:
IE11 on Windows 7 or Windows 10  (Edge & FF do not suffer the issue)
It's not quite focus.  Browser not in focus requires mouse movement over the page.  Browser having focus requires keyboard events or the mouse to be over the page; having the mouse off the page and no keyboard activity shows the issue.  Seems like it's tied to some UI

[2017-10-12 18:04] greg-db commented on #163
Thanks! We'll look into it.

[2017-10-14 12:23] MsSterh commented on #84
@greg-db do you have any updates?
This issue is so old ((
I am waiting so long...

[2017-10-16 07:18] nagurameer commented on #63
How to generate ACCESSTOKEN using python program with user credentials only?

[2017-10-16 15:46] greg-db commented on #84
@MsSterh No, unfortunately I don't have an update on this yet. We'll follow up here once we do.

[2017-10-16 17:08] greg-db commented on #63
@nagurameer The API doesn't offer a way to retrieve an access token in an entirely programmatic way. Please refer to the discussion above for more context.

For Python, we recommend using [the official API v2 Python SDK](https://github.com/dropbox/dropbox-sdk-python). That has [support for the OAuth 2 app authorization flow](https://dropbox-sdk-python.readthedocs.io/en/latest/moduledoc.html#dropbo

[2017-10-16 19:59] jpickwell commented on #131
I would suggest [axios](https://github.com/axios/axios) as a nice replacement.

[2017-10-16 20:46] greg-db commented on #163
Thanks again for the report! Unfortunately, since this is an unusual behavior only affecting one browser, and likely due to how the browser itself works, we're not planning on working on a fix for it. Apologies I don't have better news for you!

[2017-10-16 20:46] #163 closed

[2017-10-16 21:47] kennellink commented on #163
Disappointing.  I don't have this problem with the older API and asking my customers to move the mouse around to see updates to the app isn't reasonable.

[2017-10-16 22:49] kennellink commented on #163
@greg-db, do you have any ideas about how I might work around this?  Either a different way of calling the API or setting up the threading for the call or the handlers?  Any idea how the background tasking is different here than the prior API?  Any suggestions would be appreciated.

[2017-10-17 04:43] nagurameer commented on #63
@greg-db thanku,but mi requirement is to generate access token for Dropbox using user's credentials.I am  Building a application which allow to upload and download the files Many to Many scenario Where i need to access different users accounts.Is it possible to generate Accesstoken using user credentials.

[2017-10-17 13:52] greg-db commented on #63
@nagurameer Thanks for the feedback. The API doesn't offer a way to generate an access token from user credentials.

[2017-10-17 17:56] greg-db commented on #163
@kennellink Unfortunately I don't have a workaround to offer.

If you're referring to the old [dropbox-js](https://github.com/dropbox/dropbox-js) library, I believe that used its own wrapper around `XMLHttpRequest`, whereas as this library uses `superagent`. We're actually planning on replacing `superagent` though, so this may change in the future anyway.

[2017-10-18 04:24] nagurameer commented on #63
@greg-db thanku.We contacted Dropbox support team.They provided different solution for us.once again thanku 'greg'

[2017-10-18 14:59] greg-db commented on #163
We did some more research, and unfortunately it actually looks unlikely that the removal of `superagent` would be likely to fix this. This appears to be due to a bug in IE 11 where it does not process XHR callbacks inside promises when the window isn't focused. (The likely replacement for `superagent` also uses promises.)

I just tried making the call directly using `XMLHttpRequest` though, withou

[2017-10-19 04:40] kennellink commented on #163
Thanks so much @greg-db  for your time and the research and example!  I think that's something I can work with!

[2017-10-21 06:38] kennellink commented on #163
It must be SuperAgent, rather than Promises.  When I replace rpcRequest and downloadRequest with my own functions that use jQuery AJAX wrapped in Promise objects, they all complete as expected.  I still have some work to do on returning the proper error objects in failure cases, but I have working replacements for those two functions' happy paths that solve the issue.  Still need to test on other

[2017-10-21 07:45] kennellink commented on #163
I have working substitutions for rpcRequest and downloadRequest that solve the issue.  My subs presently use jQuery AJAX, but I'm not sure if that's actually necessary.  I have found, though, that they must modify the DOM in some way just prior or immediately after calling resolve (or presumably reject) to solve the issue.  I'm presently using document.title=document.title.  Weird!

I found in the

[2017-10-30 15:07] chrisburgin95 opened #164 "sharingGetSharedLinkFile, Error: Maximum response size reached"
sharingGetSharedLinkFile is returning the following error

[code]

This is for a file of 550mb file. My request looks like this.

[code]

Everything seems to be working file when using this function with a 150mb file. But not this size. Additionally I am not even able to find this error in the documentation.

Any help as to what I am doing wrong would be great appreciated!! Thanks!

[2017-10-30 19:20] greg-db commented on #164
This SDK currently uses `superagent` to make the HTTPS requests, and `superagent` [has a 200 MB response body size limit](https://github.com/visionmedia/superagent/blob/b2708db533ef5bca394eaaff63f97e485e11f465/lib/node/index.js#L867), causing this error.

I'll send this along as a request for a way to increase or work around that, but I can't make any promises right now.

[2017-10-31 14:40] chrisburgin95 commented on #164
Thanks!

[2017-11-07 20:29] #131 closed

[2017-11-12 00:40] pran1990 commented on #164
fixed after moving to fetch. Release this week, available on master.

[2017-11-12 00:40] #164 closed

[2017-12-01 11:18] Nullmegh opened #166 "Error: Request has been terminated"
I get the error:
[code]
Only when I try to upload files using the browser safari for IOS.

Code:
`file = document.getElementById("upload").files[0];
dbx.filesUpload({
		path: "/"  + file.name + ".png",
		contents: file
	}).then(function() {
		alert("done");
	}).catch(function(error) {
		alert(JSON.stringify(error));
		console.error(error);
	});`

Useragent:
`Mozzila/5.0 (iPhone; CPU iPhone OS 11_1

[2017-12-01 13:45] Nullmegh commented on #166
My sincere apologies, the access key was not set in `new Dropbox`.

[2017-12-01 13:45] #166 closed

[2017-12-13 21:51] yawhide opened #167 "readme says to require('dropbox/team') when in fact you have to do require('dropbox/src/team')"
[code]

dropbox v2.5.12

[2017-12-13 21:54] pran1990 commented on #167
Thanks for reporting!
A fix for this is in-progress (you can expect to end up doing
`var DropboxTeam = require('dropbox').DropboxTeam;`
)

[2017-12-13 21:57] yawhide commented on #167
[code]
what am I doing wrong? Thanks

[2017-12-13 21:59] yawhide commented on #167
OHHHH i read wrong. so in the meantime I gotta use 'dropbox/src/team' but in the future I can do .DropboxTeam.

Thanks!

[2017-12-14 17:18] mbmerrill opened #168 "authenticateWithCordova: no way to attach event handler to the close event for the inappbrowser window"
As far as I can tell, there's no way to attach an event handler to the close event for the inappbrowser window that's opened when one calls Dropbox.authenticateWithCordova().

If the application is showing a modal "loading"-type indicator while Dropbox authentication is happening, and the user closes the inappbrowser, there's no way to attach an event handler to close the loading indicator.

[2017-12-14 17:21] mbmerrill commented on #168
For that matter, it would also be nice to be able to pass in the various options inappbrowser supports on the open method.

[2017-12-14 19:45] greg-db commented on #168
Thanks! I'll send these requests along to the team.

[2017-12-17 22:23] acornejo commented on #158
Any updates on this? Every time I do an audit on my app for outdatated dependencies the fact that the dropbox sdk relies on superagent comes up.

[2017-12-17 23:39] pran1990 commented on #158
Hey Alex thanks for asking. I'm waiting for a couple of loose ends on our
side before making a release for superagent to fetch change

On Dec 17, 2017 2:23 PM, "alex" <notifications@github.com> wrote:

[2017-12-26 06:19] cliffspradlin opened #169 "Misspelling in code"
https://github.com/dropbox/dropbox-sdk-js/blob/0a4b3ab48a3e2aac4bea77d3f9fb4c48754d8aa1/src/download-request.js#L11

should be octet-stream. I'd submit a PR but I'm not sure what the implications of this mistake are since downloads clearly 'work' generally.

[2017-12-26 06:23] cliffspradlin commented on #84
Just to add some color to this, this may not just be a problem with the usage of superagent. I noticed that the response headers from the server have no metadata explaining why it failed. Only the status text gives you the slightest clue (which is unfortunately swallowed up by the superagent issue).

409 path/not_found/..
Response headers:
Access-Control-Allow-Origin:*
Access-Control-Expose-Header

[2017-12-27 13:37] yassbaat commented on #73
@greg-db why can't we just have a `getAcessToken()` function that returns a promise which opens up a popup window and returns the access token once the promise resolves?
I think the currently implemented way of returning the access token in the URL is one of the worst ways an API could treat developers 😒

[2017-12-27 14:28] greg-db commented on #169
Thanks! We'll look into it.

[2017-12-27 14:28] greg-db commented on #84
Thanks for the information @cliffspradlin! For reference, the status line does include the nested error as you mentioned, and the response body itself (not shown) also includes the error information as JSON.

[2017-12-27 15:07] greg-db commented on #73
@yassbaat Thanks for the feedback! I'll add this to the feature request.

[2017-12-27 15:49] Viktor-Bredihin commented on #122
any solution?

[2017-12-27 15:52] greg-db commented on #122
@Viktor-Bredihin I don't have an update on this yet.

[2017-12-27 15:53] Viktor-Bredihin commented on #122
it has been 6 months, and no solution for es6? Is it planned at least?

[2017-12-27 15:54] greg-db commented on #122
@Viktor-Bredihin I unfortunately don't have any news on this. We'll follow up here if/when we do.

[2018-01-02 16:45] sidhuko commented on #148
As you're adding it to the scripts within angular it will only be available on the window object within your file.

Try `new window.Dropbox()` to see if it's included correctly please.

[2018-01-04 20:51] hollyewhite commented on #80
Another request for an upload session example - would also love for es6 support!

[2018-01-23 08:59] #114 closed

[2018-01-23 15:15] greg-db commented on #169
This is gone in the latest release, v3.0.0.

[2018-01-23 15:15] #169 closed

[2018-01-23 15:20] greg-db commented on #131
For reference, the latest release, v3.0.0, removes superagent and uses fetch instead.

[2018-01-23 15:20] greg-db commented on #158
For reference, the latest release, v3.0.0, removes superagent and uses fetch instead.

[2018-01-23 15:20] #158 closed

[2018-01-23 15:24] greg-db commented on #138
This is released now in v3.0.0.

[2018-01-23 15:24] #138 closed

[2018-01-23 15:29] greg-db commented on #114
This is released in [v3.0.0](https://github.com/dropbox/dropbox-sdk-js/releases/tag/v3.0.0).

[2018-01-23 16:10] sidhuko commented on #131
Good work guys!

On 23 Jan 2018 3:20 pm, "Greg K" <notifications@github.com> wrote:

For reference, the latest release, v3.0.0, removes superagent and uses
fetch instead.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/dropbox/dropbox-sdk-js/issues/131#issuecomment-359823451>,
or mute the thread
<https://github.com/noti

[2018-01-23 18:37] greg-db commented on #164
For reference, the latest release, v3.0.0, removes superagent and uses fetch instead.

[2018-01-23 19:54] greg-db commented on #64
The JavaScript SDK now supports the "code" flow as of v3.0.0, via the `getAccessTokenFromCode` method. There's a basic example of using it [here](https://github.com/dropbox/dropbox-sdk-js/blob/master/examples/javascript/code_flow_example.js), and instructions for running that [here](https://github.com/dropbox/dropbox-sdk-js/tree/master/examples/javascript#code-flow-example).

Make sure you set you

[2018-01-23 19:54] #64 closed

[2018-01-23 19:54] greg-db commented on #136
The SDK now supports the code flow. More information [here](https://github.com/dropbox/dropbox-sdk-js/issues/64#issuecomment-359910107).

[2018-01-23 19:54] greg-db commented on #140
The SDK now supports the code flow. More information [here](https://github.com/dropbox/dropbox-sdk-js/issues/64#issuecomment-359910107).

[2018-01-23 19:59] greg-db commented on #167
The new syntax should be used as of the new release, v3.0.0+.

[2018-01-23 19:59] #167 closed

[2018-01-23 20:00] #154 closed

[2018-01-23 20:19] greg-db commented on #84
This should be fixed and no longer throw a `DOMException` as of v3.0.0.

[2018-01-23 20:19] #84 closed

[2018-01-23 20:25] greg-db commented on #116
This fix is released as of v3.0.0.

[2018-01-23 20:25] #116 closed

[2018-01-23 20:27] greg-db commented on #121
This fix is released as of v3.0.0.

[2018-01-23 20:27] #121 closed

[2018-01-23 20:37] greg-db commented on #118
This is working in the latest version of the SDK.

[2018-01-23 20:37] #118 closed

[2018-01-24 13:51] greg-db commented on #144
The documentation for `user_message` will be fixed in the next release. Thanks again!

[2018-01-24 13:51] #144 closed

[2018-01-29 09:51] nicoduj opened #172 "t.buffer is not a function"
Hi all,

I am trying to evaluate dropbox sdk in a cordova project (base on Framework 7 template / vue.js). Uploading files works fine, but I get an error in download it
My code that cause an error is the following :
[code]

The trace of the error

Am I missing something ? I am new to this environment .

Thanks !

[2018-01-29 19:15] greg-db commented on #172
The stack you provided does not seem to include any Dropbox library file. Can you double check that this is the right code and right stack?

We don't have any specific support for Framework 7/vue.js in particular, but if this is happening in Dropbox code, if you can supply a sample project that reproduces the issue we can take a look.

[2018-01-30 08:26] nicoduj commented on #172
Hi,

the error is triggered inside dropbox-sdk.min-js, which is embed by webpack in a file autogenerated name 41382e06b346faf19af6.main.js in the stack provided, in the following code :
`return function (t) {
                                        return t.ok ? e() ? t.blob() : t.buffer() : t.text()
                                    }`
I attached a generated file to the post.
[e99ae33dafffa5751

[2018-01-30 16:31] greg-db commented on #172
Thanks! I think I see what's going on here. It sounds like you're including the Dropbox library as node dependency in your project, which is getting bundled up for use in the browser by webpack. The library isn't meant to run to run like this though, so it's failing on that `buffer`. (This is somewhat similar to #82.)

Instead, you can include the Dropbox library via a normal `<script>` tag, which

[2018-01-30 16:31] #172 closed

[2018-01-31 12:42] nicoduj commented on #172
Hi,

I tried your way but it is not working in my project (or maybe I did it the wrong way). It is strange since this is the only method that doesn't work. Like it was suggested in another post, I managed to download a file previoulsy uploaded however by using a combination of filesGetTemporaryLink and cordova fileTransfer.download .

[2018-01-31 15:37] greg-db commented on #172
What error do you get with that technique?

I was able to reproduce the original `buffer` error in [the framework7-template-vue-webpack sample](https://github.com/framework7io/framework7-template-vue-webpack). It then worked for me when I switched to adding the library via a `<script>` tag instead of node dependency.

[2018-01-31 16:06] nicoduj commented on #172
Hi,
I think I did it the wrong way, but as soon as I include dropbox with the <script> tag I get a compilation error from webpack.

Do you have any idea why it is not working through webpack ?

[2018-01-31 16:21] greg-db commented on #172
What error are you getting? I can't offer support for webpack, but I can take a look in case it's related to Dropbox in particular.

[2018-01-31 16:35] nicoduj commented on #172
It was a webpack error, I have modified the project so I can't produce it quickly, but since I have a workaround for now It is not a problem anymore. Thanks for your help

[2018-01-31 17:07] nicoduj commented on #172
just an update : I tried to debug without the minified version : the error occurs on this line in Dropbox-sdk.js:

`  return isWindowOrWorker() ? res.blob() : res.buffer();`

isWindowOrWorker returns false, but on res blobl() returns my blob, buffer is undefined.

In function :
[code]
typeof WorkerGlobalScope -> undefined
but typeof module is not undefined

if i modify it to return true like the f

[2018-02-07 14:19] ogawa0071 opened #174 "`filesListFolderContinue` dose't work with large response."
This code doesn't work if the response is about 2MB or more.

[code]

I examined the cause, and I found.
Comment out the following line and it works normally.

https://github.com/dropbox/dropbox-sdk-js/blob/fe9b4a78c8940891dcfacc1b03928311f3c6bf63/src/rpc-request.js#L5

This problem probably caused by [bitinn/node-fetch](https://github.com/bitinn/node-fetch).
It dose not happen in browser's native

[2018-02-07 15:43] ogawa0071 commented on #174
I opened the issuu on bitinn/node-fetch.
https://github.com/bitinn/node-fetch/issues/396

[2018-02-07 16:45] greg-db commented on #174
Thanks for the investigation and write-up! We'll see if we can fix/work around this on our side.

[2018-02-08 14:42] ogawa0071 commented on #174
bitinn/node-fetch#151

[2018-02-08 14:55] ogawa0071 commented on #174
I think that dropbox-sdk-js should not use `clone`.

[2018-02-08 23:14] navispeed opened #175 "Implementing large upload with ReadableStream"
Hello,

I currently work on an implementation of dbx file upload with ReadableStream.
I have a few question about adding this function :
- Can I write it directly in dropbox.js ?
- How can I create/document which type takes the function as argument, since types are auto generated in `src/types.js`
- We agree that only unit-testing is mandatory.

My repository : https://github.com/navispeed/dropbox

[2018-02-11 02:15] pcworld opened #176 "Builds do not include proper license copies of dependencies"
Built files of the current version currently include [buffer](https://www.npmjs.com/package/buffer) as a dependency, however they do not adhere to [its license](https://github.com/feross/buffer/blob/v5.0.8/LICENSE), which states that "The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software," making it the burden of users of this

[2018-02-11 02:31] pran1990 commented on #176
Thanks for pointing out! If you are interested, a pull request is welcome.

On Feb 11, 2018 7:45 AM, "pcworld" <notifications@github.com> wrote:

[2018-02-11 19:11] jvilk commented on #122
I have issued a PR to update the TypeScript definition files so that they are up-to-date. v3.0 currently ships with invalid definition files.

https://github.com/dropbox/dropbox-sdk-js/pull/177

[2018-02-11 19:27] jvilk commented on #162
This is a limitation / issue with the Stone API specification. The Dropbox JS SDK manually adds `fileBinary`/`fileBlob` to the object because that property isn't in the Stone API specification. As a corollary, the TypeScript definition files lack these properties, and [require hacky typecasting to 'any' to compile](https://github.com/dropbox/dropbox-sdk-js/blob/master/examples/typescript/download/

[2018-02-12 17:08] tracycollins commented on #174
I'm having the same problem, although I don't use an async function to call filesListFolderContinue.

Any updates on this? Any workaround that I can use?

[2018-02-12 17:32] greg-db commented on #174
I don't have an update on this. I'll follow up here once I have any news.

As far as a workaround is concerned, I don't have one to offer beyond the modification mentioned in the first comment here, but we can't officially endorse that or offer support for any side effects it may cause.

[2018-02-12 17:36] ogawa0071 commented on #174
@greg-db May I create PR that delete `clone()`?

[2018-02-12 17:38] greg-db commented on #174
@ogawa0071 We welcome pull requests in general, but I can't promise we'll be able to merge that one. We'd need to review it to see what the ramifications are.

[2018-02-12 17:46] ogawa0071 commented on #174
@greg-db OK, but this problem can't be solved automatically. Dropbox API generally return large response, so I think that we should take some action...

[2018-02-12 17:47] greg-db commented on #174
@ogawa0071 Understood. This is open as a bug with the team. They will look into it.

[2018-02-12 18:05] greg-db commented on #174
Looking at this further, one other potential workaround is to use a small `limit` value (in [`FilesListFolderArg`](https://dropbox.github.io/dropbox-sdk-js/global.html#FilesListFolderArg)) when initially calling [`filesListFolder`](https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#filesListFolder__anchor), and then paging through with [`filesListFolderContinue`](https://dropbox.github.io/dropb

[2018-02-14 05:16] mkirkland4874 commented on #172
The problem with the above fix is that it won't work on nodejs since `module` will not be `undefined` and thus it will try to execute `res.blob()`, which causes an error on node since it should use `res.buffer()`. The below solution solves the issue and allows the same code to run on either the browser or nodejs. I tested this on Browserify (which had the same T.buffer error) and it worked, but ha

[2018-02-17 15:26] cormander opened #178 "react native t.buffer is not a function"
Hi,

I'm using this module in a react native environment. All seems to work well, except when I attempt to download a file with `dbx.filesDownload` -  I get the following exception:

    TypeError: t.buffer is not a function. (In 't.buffer()'; 't.buffer' is undefined)

My ~~fix~~ hack for this is to replace the one and only call to `buffer()` with `text()` in the dependency:

    perl -pi -e 's/t\

[2018-02-17 15:33] cormander opened #179 "react native android bad content-type header"
Hi,

I'm using this module in a react native environment. When making a call to `dbx.filesUpload` on iOS - everything works. On Android, however, I get the following exception:

`Error in call to API function "files/upload": Bad HTTP "Content-Type" header: "application/octet-stream; charset=utf8".`

The issue stems from android somewhere along the line appends the `; charset=utf8` to the `Content-

[2018-02-18 03:23] AaronCFreytag opened #180 "(Node) File binary from filesDownloadZip() in UTF-8 formatting instead of binary formatting"
Based on the Node examples, I expected the fileBinary property of the result from functions like filesDownloadZip() would be a string in binary format, but instead it seems to be in UTF-8. The UTF-8 formatting messes up a lot of the values, causing the file to become unreadable.

My code:
[code]

I'm not sure whether this affects other download request functions as well, but it seems likely that i

[2018-02-18 05:17] pran1990 commented on #180
Thanks for reporting Aaron.

On Feb 18, 2018 8:53 AM, "Aaron Freytag" <notifications@github.com> wrote:

Based on the Node examples, I expected the fileBinary property of the
result from functions like filesDownloadZip() would be a string in binary
format, but instead it seems to be in UTF-8. The UTF-8 formatting messes up
a lot of the values, causing the file to become unreadable.

My code:

requ

[2018-02-18 21:01] mistermoe opened #181 "(node) does NOT work with node-fetch"
Your documentation states that either `node-fetch` or `isomorphic-fetch` can be used for nodejs environments. This is not true as `node-fetch` still leads to a `fetch is not defined` error. `isomorphic-fetch` however does work. Any reason why? Please update your documentation to accurately reflect what's required to use your api

[2018-02-19 08:07] pran1990 commented on #181
Thanks Moe. Do you happen to have a snippet that reproduces this?

On Feb 19, 2018 2:31 AM, "Moe Jangda" <notifications@github.com> wrote:

Your documentation states that either node-fetch or isomorphic-fetch can be
used for nodejs environments. This is not true as node-fetch still leads to
a fetch is not defined error. isomorphic-fetch however does work. Any
reason why? Please update your documen

[2018-02-19 08:32] mistermoe commented on #181
Sure @pran1990 :
[code]

Output when run:
[code]

On another quick note, are the limitations as to what trial business users can do using the dropbox api? i keep getting a 403 back when attempting to create a team folder but my application has team member file access. We can defer this question to a later time. I just figured i'd bring it up now incase there is a limitation in which case it'd be b

[2018-02-19 19:02] greg-db commented on #181
Thanks! We'll look into it.

Regarding your other question, that doesn't sound specific to the JavaScript SDK, so please [open an API ticket](https://www.dropbox.com/developers/contact), if you haven't already, and we'll check on that and follow up with your there.

[2018-02-20 00:32] greg-db commented on #178
Thanks for writing this up! I'll send this along to the team see if we can get proper support for this in the future.

[2018-02-20 00:32] greg-db commented on #179
Thanks for writing this up! I'll send this along to the team see if we can get proper support for this in the future.

[2018-02-20 05:55] mistermoe opened #182 "actAsUser does not expose same method signature as Dropbox constructor"
If my understanding is correct, `DropboxTeam#actAsUser` (using a hashtag here to signify that `actAsUser` is an instance method and not a static method) returns an instance of `Dropbox` with `selectUser` set as the `userId` that was passed into `actAsUser`. Using `actAsUser` does not allow me to do something like the following:

[code]

because it returns the following error, regardless of the mem

[2018-02-20 17:16] kyle-west opened #183 "Dropbox.filesDownload returns corrupt data for Word Documents"
When I use the `filesDownload` function to retrieve a Word Document, the file writes successfully, but with missing bytes (rendered in a text editor as `?`). I've tried to decode the data into the file from `binary` to `utf-8` to `hex` to `base64` With no luck. Binary and UTF-8 encoding seem the closest to the original file bitwise, but I am nonetheless getting corrupt data back.
[code]
Note: this

[2018-02-20 17:20] kyle-west commented on #183
Here is an example line from the file when I open it up in a text editor and compare it to the original:

**Original**
[code]
**Response from `filesDownload`**
[code]
As you may see, there are missing values in this line that are not in the original.

[2018-02-20 17:31] greg-db commented on #183
Thanks for the report! We're looking into it.

[2018-02-21 00:00] greg-db commented on #182
Thanks for writing up this detailed post; we really appreciate. And I'm sorry to hear you've had trouble with the API. I'm taking note of each problem listed here and raising it with the team.

Using `selectAdmin` is the correct way to operate on team-owned data (such as in team spaces, for teams with the new "[team spaces](https://www.dropbox.com/help/business/team-space-overview)" configuration.

[2018-02-21 00:31] mkirkland4874 commented on #178
Cormander, does this solve your issue:

https://github.com/dropbox/dropbox-sdk-js/pull/173

[2018-02-21 17:16] greg-db commented on #181
We just looked into this, and it appears you'll need to set this in order to use the SDK with `node-fetch`:

    global.fetch = require('node-fetch');.

We'll get the documentation updated. Thanks and apologies for the bother!

[2018-02-21 19:01] mistermoe commented on #182
@greg-db Thanks for the prompt response as well as for the info regarding the mutual exclusivity of `selectUser` and `selectAdmin`. I do however think it should be possible to `selectAdmin` when calling `DropboxTeam.actAsUser`or maybe exposing another method called `DropboxTeam.actAsAdmin`. Not adding the ability to use `selectAdmin` with `actAsUser` sort of draws a fork in the road regarding what

[2018-02-21 22:35] greg-db commented on #182
Yes, `actAsUser` is just a convenience method for accessing the `selectUser` functionality. I've asked the team for an equivalent `actAsAdmin` to access the `selectAdmin` functionality. (You should never need to use both `selectUser` and `selectAdmin` (or equivalently both `actAsUser` and `actAsAdmin`) for a single API call though. If you do happen to need to make different calls using both of the

[2018-02-23 09:52] rogeralsing commented on #101
What is the current status here?
Can we stream uploads or not, the discussion here seems somewhat conflicting

[2018-02-24 23:51] mistermoe opened #185 "file uploads not working"
I'm attempting to programmatically upload a file and am running into an unexpected error. Here's what i'm trying to do:

[code]

here's the error i'm getting:
[code]

It's worth noting that i followed the node example for uploading files which you can find [here](https://github.com/dropbox/dropbox-sdk-js/blob/master/examples/javascript/node/upload.js#L17-L29).

Additionally, This error message is

[2018-02-25 00:43] pran1990 commented on #185
Quick question for the short term: Can you try the upload (post namespace creation) without select-admin? (ie just used dbxTeam with actAsUser() ).

[2018-02-25 03:17] mistermoe commented on #185
@pran1990 that's what i originally tried and it didn't work :(

[2018-02-25 08:56] uglywizkid commented on #183
Same issue here with PDF

**v 2.5.+**
[code]
**v 3.0.4**
[code]

[2018-02-26 07:28] mistermoe commented on #185
any word here?

[2018-02-26 14:56] pran1990 commented on #185
I'll look into this later, and will have an update for you.

On Sun, Feb 25, 2018, 11:29 PM Moe Jangda <notifications@github.com> wrote:

[2018-02-26 16:23] greg-db commented on #181
We've updated the documentation to just recommend `isomorphic-fetch` for consistency, but the above code should work if you want to use `node-fetch`.

[2018-02-26 16:23] #181 closed

[2018-02-26 21:05] greg-db commented on #185
It looks like you have a small typo causing the file data to get sent in a header instead of the request body, causing this confusing error. Specifically, this line:
`content: file`
should be:
`contents: file`

[2018-02-26 21:05] #185 closed

[2018-02-27 17:30] vohzd commented on #80
An example would be great too. I've started just today using the DB API today and can do files < 150mb fine... however I'm building a website for a recording studio with 800mb+ files. Will post results if I succeed.

[2018-02-28 10:00] bobmoff commented on #41
The issue still remains, in the typescript definitions.

[2018-02-28 11:27] bobmoff commented on #183
Getting the same error with regular JPGs

[2018-02-28 11:29] bobmoff commented on #180
Seems like it could be the same for fileDownload.. I cannot create a node Buffer any more from the fileBinary property. Looks like there is something messed up with the encoding.

[2018-02-28 14:45] pran1990 commented on #183
Thanks fille. All binary formats are broken. A fix is coming , thanks for
reporting.

On Wed, Feb 28, 2018, 3:27 AM Fille <notifications@github.com> wrote:

[2018-02-28 15:17] lfaraone commented on #183
Duplicate of #183.

[2018-02-28 15:17] #183 closed

[2018-02-28 16:45] uorbe001 commented on #180
Is there a workaround for this?

[2018-02-28 16:52] greg-db commented on #180
I don't have a workaround to offer right now. We're working on a fix.

[2018-02-28 17:53] pran1990 commented on #180
This is fixed in v4.0.00, thanks for reporting.

[2018-02-28 17:53] #180 closed

[2018-02-28 17:56] pran1990 commented on #183
Thanks for being patient, v4.0.0 fixes this (pdf and jpgs work for me, @kyle-west  please reopen if you see issues with word docs)

[2018-02-28 18:44] kyle-west commented on #183
Thank you. I can validate that it works now. I appreciated the quick solution!

[2018-03-01 11:34] bobmoff commented on #183
Great stuff, thx for the quick fix!

[2018-03-01 11:35] bobmoff commented on #180
Thx!

[2018-03-02 16:38] Wifsimster commented on #178
Hi, i have the same problem on a vue component (not on react).

`dbx.filesDownload({ path: file.path })` is working well in 2.5.13 but not in superior version.

[2018-03-02 16:46] greg-db commented on #178
@Wifsimster This may depend on how you're including the library. Please review #172 for more information and a potential workaround.

[2018-03-05 14:56] greg-db commented on #41
@bobmoff Apologies for the delay, and thanks for the note. We'll look into it.

[2018-03-06 21:10] pran1990 commented on #41
@jvilk a seemingly simple fix here is to remove the `arg: void` from https://github.com/dropbox/dropbox-sdk-js/blob/master/generator/typescript/dropbox.d.ts#L1484 (and any other functions that don't have an input). Can you advice if that is the correct thing to do?

[2018-03-06 21:32] jvilk commented on #41
@pran1990 Yes, that is correct.

Note that that file is auto-generated from the stone specification, which specifies that that [route takes an argument of type 'void'](https://github.com/dropbox/dropbox-api-spec/blob/master/users.stone#L99).

You would need to change the TypeScript stone generator to [special-case the output of routes that take a void argument](https://github.com/dropbox/stone/blo

[2018-03-09 10:17] bobmoff commented on #174
I am having a similar (or same) issue with filesListFolder. When I use recursive, it just returns undefined after a while.. I guess its because the response is too large as above commenters mentioned.

Looks like this problem also exists in the Browers API Explorer. I managed to get it to crash a few times when doing similar requests.

[2018-03-10 22:14] shaun-sweet opened #186 "Dropbox-sdk.min.js:1 Uncaught (in promise) TypeError: t.buffer is not a function"
Hi,

I'm currently trying to read text with your API.  This is my function call

`getAccountConfigFile = () => this.dbx.filesDownload({ path: `/${ConfigFileNames.ACCOUNTS}` })`

I am able to write no problem, but for whatever reason i cannot get anything from dropbox to be read :(

Am I doing something wrong here?

[2018-03-11 16:24] elsigh commented on #172
The fact that the code doesn't also try to detect the existence of `t.buffer` feels like a bug.

[2018-03-12 14:55] greg-db commented on #186
Thanks for the report! It looks like you already found #172 and #173, so I'm closing this in favor of those.

[2018-03-12 14:55] #186 closed

[2018-03-12 19:35] ponkin commented on #80
Hi,
I created PR for with example(thanks to @BobDickinson). Need review.
https://github.com/dropbox/dropbox-sdk-js/pull/187

[2018-03-14 23:55] DeividdyNogueira opened #188 "Problemen in file 'lib/upload-request.js'"
Show error:

Soluiton:
add in file:
`var fetch = require('node-fetch')`

[2018-03-15 02:15] DeividdyNogueira commented on #188
Sorry, now that I realized that it is possible to correct this error without any editing of the core

[2018-03-15 03:51] aas395 opened #189 "Response type in filesUpload()"
Hi,

I'm trying to do some things with the response after uploading a file using Dropbox.filesUpload() in node, but the response that gets passed into the then() call is a json-like (but not valid JSON) string instead of the response object I was expecting. Am I doing something wrong? I'm using isomorphic-fetch but I saw the same behavior using node-fetch, as well. I'm using version 4.0.1 of the d

[2018-03-15 15:51] greg-db commented on #188
That's correct, we reccomend using `isomorphic-fetch`, but you can use `node-fetch` if you want. If you do so though, you'll just need to run `global.fetch = require('node-fetch');`.

[2018-03-15 15:51] #188 closed

[2018-03-15 16:16] greg-db commented on #189
The response sent to the `then` callback for `filesUpload` should be a native object containing the metadata for the uploaded file. I just tried this with `isomorphic-fetch` and `dropbox` v4.0.1 and it seems to be working for me.

Can you share the code to reproduce the issue you're seeing as well as a sample of the unexpected result you're seeing? Thanks in advance!

[2018-03-15 17:21] aas395 commented on #189
Thank you so much for looking into this for me!

I'm new to Node and I was misunderstanding the way it was logging things. I am, in fact, getting an object in the response.

Sorry about that, and thanks again for your help!

[2018-03-15 17:21] #189 closed

[2018-03-16 14:10] ponkin commented on #172
Are there any workaround on this issue?

[2018-03-16 14:51] greg-db commented on #172
@ponkin This may depend on the particular environment you're running in. Please refer to my earlier comment here for a potential solution:

https://github.com/dropbox/dropbox-sdk-js/issues/172#issuecomment-361650716

[2018-03-16 17:04] elsigh commented on #172
Loading in a `script` tag doesn't work when running in a `next.js` environment, fwiw - so I had to hack the source and use my hacked version instead

[2018-03-18 21:04] ponkin opened #190 "Implement retry policy for some API calls"
Some dropbox API calls may be rate-limited in certain conditions by responding with HTTP '429 Too Many Requests' (with header 'Retry-After: 1')
May be we can set up some  **'retry policy'**,  to automatically handle such situation, for example:
`const dbx = new Dropbox({ accessToken: token,  numberOfRetries: 10 }); `

default will be 0.

[2018-03-19 00:47] greg-db commented on #190
Thanks for writing this up! I can't make any promises, but I'll send this request along to the team.

[2018-03-22 20:49] phwebi opened #191 "Update typescript definitions"
It looks like the typescript definitions are outdated in the latest version. I'm getting typescript errors such as
[code]
and
[code]

Can anyone point me in the right direction on how to update them? Thanks!

[2018-03-23 17:22] greg-db commented on #191
Thanks for the report! We'll look into it.

[2018-03-24 23:34] premtemp opened #192 "How can I install using bower"
Hello,
  I have cordova app that I am trying to implement Dropbox.. Is there bower install equivalent of this sdk. if not then can you give me some  help of how to include it in my app client  without  npm

Thanks

[2018-03-26 16:00] greg-db commented on #192
We don't have official instructions for installing via Bower, but I'll pass this along as a feature request.

[2018-03-28 10:40] monikadhok opened #193 "File uploads"
Does "filesUpload" method uses chunk upload when uploading files to
dropbox? If yes, what is the chunk size?

I also figured out that dropbox is wopi compliant and wopi library can be
used to perform uploads to dropbox. Does wopi perform chunk uploads or
via streaming? What are the advantages/disadvantages of using wopi over
this SDK?

Thanks,
Monika

[2018-03-28 15:43] greg-db commented on #193
No, the `filesUpload` method does not use chunked uploading. For uploading large files, you should use [`filesUploadSessionStart`](https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#filesUploadSessionStart__anchor), [`filesUploadSessionAppendV2`](https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#filesUploadSessionAppendV2__anchor), and [`filesUploadSessionFinish`](https://dropbox.github.io/

[2018-03-28 15:43] #193 closed

[2018-04-05 19:53] #191 closed

[2018-04-17 15:47] greg-db commented on #172
The original `t.buffer is not a function` issue should be fixed in the latest version of the library, currently v4.0.3.

[2018-04-17 15:47] greg-db commented on #178
The original `t.buffer is not a function` issue should be fixed in the latest version of the library, currently v4.0.3.

[2018-04-17 15:47] #178 closed

[2018-04-20 15:58] elsigh commented on #172
I can confirm that this version (4.0.3) works in `nextjs` apps now.

I had to fix references to `response.fileBinary` which are now `response.fileBlob` (which makes good sense).

[2018-04-20 18:42] rafaellop opened #196 "Error "NSURLErrorDomain error -999" on iOS when using API in Cordova app"
I use the newest dropbox-sdk-js in my cordova app. I have troubles getting authenticated on iOS. On Android the API works properly and I can authenticate in my app, download/upload files. Everyting seems to work OK. I use the following code to authenticate:

[code]
Unfortunately on iOS the inappbrowser appears on screen for a moment and then I'm getting the following xcode debug log error:

[code]

[2018-04-20 20:43] greg-db commented on #196
I've used this successfully with `cordova-plugin-inappbrowser` v1.7.2. Can you try downgrading to that and met let me know if that does or doesn't help? Thanks in advance!

[2018-04-21 05:26] rafaellop commented on #196
Greg, same thing with 1.7.2 and 3.0.0 (released last week). Even the 1.7.1 which worked properly for me with the same authentication code, but on ios 10.x. Now I've got the most update OS, xcode, iOS libraries and the error happens with all the inappbrowser versions. There's one thing I didn't mention before and just noticed. It's a flash of the error in the inappbrowser window which is `Load erro

[2018-04-21 06:10] rafaellop commented on #196
I've got another observations:

There's a 10 msec timeout for calling the `loaderror` handler which closes the inapp browser. If I change the timeout to a higher value like 10 sec then the login form is loaded and I can interact with it. But finally the `loaderror` is called and auth is impossible.

This means the listener added with `browser.addEventListener('loaderror', onLoadError);` inside `au

[2018-04-21 14:58] rafaellop commented on #196
New observation is that the `loaderror` handler is called twice. I suppose it's because the redirection that happens when calling the authorize URI. Maybe it's a dead end, but maybe some clue.
When digging Google I've also found that some NSURLDomainError 999 errors people had, were also related to redirection or just attempts to open a new link before previous has been handled. However, the `wind

[2018-04-21 15:36] rafaellop commented on #196
I've tried to comment out the line:

`browser.addEventListener('loaderror', onLoadError);`

in the `Dropbox.sdk.js` and I was able to authenticate and get token. All further Dropbox operations also work. However the inappbrowser still reports the `NSURLErrorDomain` error but at least this doesn't break the authentication. I hope you'll find a way to fix this. In the meanwhile I have to hack it thi

[2018-04-23 20:24] greg-db commented on #196
Thanks for the additional information! We'll look into it. I'm glad to hear you found a workaround for now though.

[2018-04-30 21:33] kevindice commented on #150
I would be interested in this feature.  Just not sure what about the PR broke things.

[2018-04-30 23:56] pran1990 commented on #150
@kevindice a possible reason is that we moved form using superagent to fetch. Can you try https://www.npmjs.com/package/fetch-with-proxy and let me know if that works for your usecase? If so, I'll add a section about proxies in the docs.

[2018-05-03 21:58] GrayDelacluyse opened #197 "Duplicate Contents property in UploadSessionAppendArg And UploadSessionFinishArg"
https://github.com/dropbox/dropbox-sdk-js/blob/86a8856b84702dfd0821efd3a99334bed0e986b3/generator/typescript/dropbox_types.d.ts#L3304

Why is the contents required twice on UploadSessionAppendArg and UploadSessionFinishArg?

Both Types have a cursor (UploadSessionCursor) which requires the contents property as well as the parent object.

My assumption is that this would result in the data being du

[2018-05-04 18:00] greg-db commented on #197
Thanks for the report! It looks like `UploadSessionCursor` object does indeed have a `contents` properties when it shouldn't. I'll ask the team to get that cleaned up.

[2018-05-18 10:44] zisiszaverdas opened #198 "Keep a changelog File [enhancement]"
Hello i would like to suggest to keep notable changes to this project to a CHANGELOG.md more information can be found here [Keep a CHANGELOG](keepachangelog.com).

[2018-05-18 12:33] JunkMyFunk commented on #196
Having exactly the same issue... thanks for the investigation done so far @rafaellop. Any ideas beyond removing that event listener in the source?

[2018-05-18 15:33] lfaraone commented on #198
Thanks! We're satisfied with https://github.com/dropbox/dropbox-sdk-js/releases for now.

[2018-05-18 15:33] #198 closed

[2018-05-18 15:37] lfaraone commented on #176
@pran1990 looks like the above should fix this, please reopen if I misunderstand

[2018-05-18 15:43] greg-db commented on #196
We don't have an update on this right now. We'll follow up here once we do.

[2018-05-18 16:16] pran1990 commented on #176
sorry Luke, I don't think the issue is "fixed", which should mean generating some type of license file with copies of deps.

[2018-05-21 09:03] zisiszaverdas commented on #198
You are correct, sorry for opening an issue without doing a proper search first!

[2018-05-21 15:00] valiknet18 opened #199 "Problem with typescript definition."
Hello everyone.
I have a problem, when i install a library to my angular app.
After run a command `ng serve`, i receive following error:
[code]
I think, may be it's problem related with typescript version. I'm using typescript 2.4.2. If you don't support this version, write please minimal supported version.
Thanks.

[2018-05-22 15:36] nguyenkhois commented on #199
I use Angular CLI 6.0.3 to build new web application with Dropbox API and TypeScript version 2.7.2 (Angular 6.0.2 requires TypeScript version < 2.8.0)

I used "  import { Dropbox } from 'dropbox';  " and error found...
`
ERROR in node_modules/dropbox/dist/dropbox_types.d.ts(32,63): error TS2371: A parameter initializer is only allowed in a function or constructor implementation.
`

How can I use D

[2018-05-22 19:31] greg-db commented on #199
Thanks for the report! We'll look into it.

[2018-05-22 21:16] pran1990 commented on #199
Just to add some more information, the last release I made mistakenly overwrote some ts files (from 4.0.4). Temporary workaround is v4.0.4 while we work on the fix.

[2018-05-24 15:18] mLuby opened #200 "Don't require global fetch"
In the Node environment, relying on another library to be in global scope is… not ideal.

Would be much nicer if instantiating Dropbox takes in the fetch function to use:
[code]

I realize it's a breaking change, but it can be introduced optionally with a warning for a few versions and it should make the API cleaner for both Node and browser environments.

I'm happy to PR this if you'd like! 😇

[2018-05-24 15:25] greg-db commented on #200
Thanks! I'll send this along to the team. (We do welcome PRs if you'd like.)

[2018-05-29 22:54] sidhuko commented on #64
You'll need application authentication
https://www.dropbox.com/developers/reference/auth-types

On 29 May 2018 at 22:32, Eliot Lash <notifications@github.com> wrote:

[2018-05-30 16:06] greg-db commented on #64
@fadookie It looks like `getAccessTokenFromCode` method wasn't written to properly support the case where no redirect URI was used. I'll ask the team to update that to support that.

[2018-06-04 16:18] josephmcasey opened #201 "Global babelHelpers is not defined"
`{"errorMessage":"babelHelpers is not defined","errorType":"ReferenceError","stackTrace":["/var/task/webpack:/node_modules/dropbox/es/dropbox-base.js:440:1","Module.t.read.u (/var/task/webpack:/node_modules/dropbox/es/dropbox-base.js:126:1)","r (/var/task/webpack:/webpack/bootstrap:19:1)","t.handler (/var/task/webpack:/src/lambdas/syncMapsOnline/index.ts:8:21)","invoke (/var/runtime/node_modules/a

[2018-06-04 16:36] josephmcasey commented on #201
Closing this ticket after further investigation shows too many quality issues to justify an investment of time. My apologies for any inconveniences.

[2018-06-04 16:36] #201 closed

[2018-06-04 22:26] steveklebanoff commented on #199
This is the bug that was introduced: https://github.com/dropbox/dropbox-sdk-js/compare/v4.0.4...master#diff-fb89f29edccb776d0def9b404e7645a9R32

This is fix that was overwritten: https://github.com/dropbox/dropbox-sdk-js/pull/195/files

I can put in a PR to put the correct code back, but is there anything I can do to help to ensure this doesn't get overwritten again?

[2018-06-05 18:59] davidmerfield opened #202 "client.filesUpload modifies argument object"
*Am using dropbox@4.0.5*

```client.filesUpload``` modifies the object passed to it. Specifically it removes the object's ```contents``` property. This strikes me as an unexpected side-effect. Here's a demonstration:

[code]

Expected result:

[code]

Actual result:

[code]

[2018-06-05 19:13] greg-db commented on #202
Thanks for the report! I'll see if the team can change that behavior.

[2018-06-14 22:43] heidg commented on #196
Hello, I had the same issue two days ago and debugging the code I found the problem. As already written by @rafaellop, during the webpage loading the `browser.addEventListener('loaderror', onLoadError);` is called (two times in my case), after that the website finish to load normally. This is the function that it is called from the event listener mentioned above:
[code]
When the `browser.close();`

[2018-06-15 14:17] greg-db commented on #196
@heidg Thanks so much for the investigation and information!

[2018-06-15 21:09] bvdecicco commented on #196
I was getting the same error with another API and commenting out the browser.addEventListener('loaderror', onLoadError); line worked for me as well. I was able to test it in iOS 11.3 and 11.4 - both are fine now. Obviously there's something bigger going on but this will get me by for the time being.

[2018-06-20 15:49] misterbrownlee commented on #174
Lurk mode engaged.  We are affected by this on an internal project at Adobe.  We can maybe implement the workaround but will have to figure out if we can make adding in a hack a priority.  I fear that, because there is a workaround, this will not get fixed properly in Dropbox.

[2018-06-20 15:55] #199 closed

[2018-06-20 15:58] pran1990 commented on #174
@misterbrownlee are you able to work with the code currently on master? There won't be a release this week, but one of our contributors was kind enough to remove `clone()` from rpc-request.js

[2018-06-21 00:27] rochapablo opened #206 "Cannot find module 'dropbox'"
I'm not sure what is happening, because it was working on version `4.0.7` and `master`, but now that I reinstalled all packages `npm install` I'm always getting this error:

[code]

I've already tried `import * as Dropbox from 'dropbox';` and `const Dropbox = require('dropbox').Dropbox;`

But it always the same.

So, any idea?

[code]

[2018-06-21 10:18] xeektech commented on #64
Hi @greg-db any alternatives you might wanna suggest here? I have the same requirement as @fadookie. TIA

[2018-06-21 14:58] misterbrownlee commented on #174
We are just wrapping a sprint.  I am traveling for two weeks after that, but the end result of that travel is to co-locate with a team member so we can build at a bunch of the system that depends on Dropbox. I will be sure we give whatever is available a try then, and report back.  Thanks for the attention on this! 👏 🖖 👍

[2018-06-21 16:02] greg-db commented on #64
@xeektech No, I don't have an update on this yet unfortunately.

[2018-06-23 19:05] btab commented on #206
Note I'm seeing what may be a related issue in VS Code in a React Native project. VS Code's Typescript server is reporting 'Module not found' when I...
[code]
However, it looks like actual compilation of the project (using ```react-native-scripts start```) is able to locate and use the module anyway.

Using v4.0.7 of the Dropbox SDK.

[2018-06-25 16:01] acuntex opened #207 "Type 'string' is not assignable to type 'WriteMode'"
When using "dropbox" in TypeScript, the following error occurs when compiling:

This happens when you set the mode while uploading a file:
`this.dropbox.filesUpload({contents: fileContent, path: fileName, mode: "overwrite"})`

Did I use it wrong or is there a bug in the ts-definitions?

[2018-06-25 19:37] greg-db commented on #207
`WriteMode` is a union, not a string, so you'll need to specify it like this:

    this.dropbox.filesUpload({contents: fileContent, path: fileName, mode:{".tag": "overwrite"}})

I'll ask the team to see if we streamline this in a future version of the SDK though.

[2018-06-25 19:37] #207 closed

[2018-06-25 20:06] greg-db commented on #206
Thanks for the information! This is still open with engineering. We'll follow up here once we have an update.

[2018-06-27 21:46] rochapablo commented on #206
Now I remember why I tried used the #master;

When I try do run typescript, I get:

[code]

Which I found here https://github.com/dropbox/dropbox-sdk-js/issues/199.

[code]

Anyway I'm here just updating.

[2018-06-28 13:15] mvasilkov commented on #199
Reproduces in 4.0.7. Please release a new version 😉

[2018-06-28 13:46] greg-db commented on #206
Thanks for the update!

[2018-06-28 17:59] steveklebanoff commented on #206
@rochapablo I expected https://github.com/dropbox/dropbox-sdk-js/pull/203 to fix `node_modules/dropbox/dist/dropbox_types.d.ts(32,63): error TS2371: A parameter initializer is only allowed in a function or constructor implementation.`.

[2018-07-03 21:15] steveklebanoff commented on #174
@pran1990 can you do a release soon so my PR that fixes this ( https://github.com/dropbox/dropbox-sdk-js/pull/203 ) is on npm?  thanks 🙌

[2018-07-06 17:27] ldanilek opened #209 "Syntax error in documentation leads to broken/wrong link"
Following the links to find the documentation, I got to this page: http://dropbox.github.io/dropbox-sdk-js/tutorial-JavaScript%20SDK.html

The link to `Dropbox class definition` yields a 404 error due to a syntax error in the markdown ((extra parentheses)). Additionally, the link is wrong because it goes to the DropboxTeam class definition, instead of the Dropbox one.

[2018-07-06 17:45] greg-db commented on #209
Thanks for pointing that out! I'll ask the team to get that fixed up.

[2018-07-09 15:41] maximevast opened #210 "Fetch (isomorphic-fetch) default timeout"
Hello,

I'm using your sdk with `isomorphic-fetch` and I encountered an issue.

The default value for an http timeout in `node-fetch` is 0 wich is equivalent to no timeout at all.

My application stayed stuck in a `files list folder` call for an obscure reason (the same call using curl was successfull though)

Would it be possible to add a default http timeout value or to allow us to configure it

[2018-07-09 15:50] davidmerfield commented on #210
For what it's worth, I've also noticed that filesListFolder sometimes becomes 'stuck' with no error and no response. I haven't been able to reliably reproduce it so I've not yet filed an issue but it's possibly related. It seems to occur when I add a decently large number of files (~100) to a new folder, then try to list its contents. Possibly related to #174. Very frustrating, wish I could provid

[2018-07-09 16:00] MathersMax commented on #210
I know understand that the lack of http time out is not the real issue here.

[https://github.com/dropbox/dropbox-sdk-js/pull/203](/pull/203) seems to fix the issue with large requests.

However, I can't use the latest version because of a typescript error :

`node_modules/dropbox/dist/dropbox_types.d.ts(32,63): error TS2371: A parameter initializer is only allowed in a function or constructor imp

[2018-07-09 16:03] greg-db commented on #210
Thanks! I'm sending this along to the team to see if we can add some better timeout functionality/behavior like this.

Regarding the listFolder issues, I also suspect that's #174, but please do open another issue if you find something else.

The Typescript issue appears be #199.

[2018-07-09 16:14] MathersMax commented on #210
Thanks a lot! I'm waiting for a fix for #199 then.

[2018-07-11 08:17] MathersMax commented on #199
Hi, any news on this ?

[2018-07-11 13:52] greg-db commented on #199
I don't have news on this quite yet. I'll ask the team to work on a release.

[2018-07-11 15:43] walling commented on #200
We are in the midst of upgrading to Dropbox 4.x, but this is basically a blocker for us. Is it something that is being actively worked on?

[2018-07-11 16:41] greg-db commented on #200
I'm not aware of any active work on this unfortunately. I'll be sure to note the additional requests for this with the team though. Thanks!

[2018-07-18 05:29] dilutedh2o commented on #199
Getting the same error "^4.0.7"

[2018-07-18 15:22] #209 closed

[2018-07-18 16:40] msgirlperl commented on #206
I am getting the same error message when I'm trying to run the examples "node examples/javascript/code_flow_example.js".  I just downloaded the repo and ran "npm install".  I did not get any errors at that point, just the following warnings:

[code]
Any ideas for that?  There's no dropbox reference to uninstall :-)

[2018-07-18 16:58] greg-db commented on #206
@msgirlperl Those warnings don't look related, but in any case, if you downloaded the repo itself, you are using `master`. This bug is still open with the team, so in the meantime please checkout or install [4.0.7](https://github.com/dropbox/dropbox-sdk-js/releases/tag/v4.0.7) instead.